.no-mobile.no-tablet {
    .about {
        .section__header--about {
			opacity: 0;
			visibility: hidden;
        }
    }
}

.about {


	background-color: #6EDCD4;
	//background-image: url("../assets/images/GUIDE_about_mobile.png");
	//background-repeat: no-repeat;
	//background-position: 50% 40px;
	text-align: center;
	padding: 395px 0 290px;
	color white
	z-index 10;
	overflow: visible;
	padding-bottom: 333px;

	@media(max-width: 1545px) {
		padding-top: 385px;
	}

    .section__content {
        p {
			visibility: hidden;
			opacity: 0;
		}
    }


	.section__pattern {
		display block
	}

	.section__pattern--4 {
		top -136px

		@media(max-width: 1545px) {
			top: -165px;
		}

		// @media(min-width: 1155px) {
		// 	top: -166px;
		// }

		// @media(max-width: 1155px) {
		// 	top: -166px;
		// }

		@media(max-width: 750px) {
			top: -196px;
		}
	}

	&__description{
		font-size-em(20px);
		margin-top: 75px;

		p{
			display: inline-block;
			text-align: justify;
			vertical-align: top;
			width: 50%;
			padding: 0px 20px;
			letter-spacing: -0.01em;
			line-height: 30px;
		}

		p:nth-child(1){
			float left;
//			transform: translate(-100px, 0);
//			opacity: 0;
//			visibility: hidden;
		}
		p:nth-child(2){
			float right
//			transform: translate(100px, 0);
//			opacity: 0;
//			visibility: hidden;
		}
	}

	&__description:after{
		content: '';
		width: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0
	}



	&__tracks{
        display: none;
		margin-top 42px;

		h2{
			margin-bottom: 63px;
		}

		&__item{
			margin-bottom: 58px;
			font-style: italic;
			font-family: 'Akkurat-Italic-web';

			&__score{
				width 162px
				height 162px
				display inline-block
				font-size-em(24px);
				line-height 162px
				vertical-align: middle;
				position: relative;
				//background-image: url("../assets/images/about/ico_score.svg");
				//background-size 100%
				//background-repeat: no-repeat;
				//background-position: 50% 50%;

				span {
					position: absolute;
					top: 0;
					display: block;
					width: 162px;
					height: 162px;
					text-align: center;
					line-height: 162px;
				}

			}

			&__track {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}


			&__txt{
				width: 762px;
				font-size-em(18px);
				vertical-align: middle;
				display: inline-block;
				text-align: left;
				font-family: 'Akkurat-Italic-web';
				margin-left: 38px;
				letter-spacing: -0.002em;
				line-height: 30px;
				// opacity: 0;
				// visibility: hidden;
			}

		}
	}



	&__team{
		margin-top 81px

		h2{
			margin-bottom: 50px;
		}



		&__member{
			width 160px
			height 260px
			display inline-block
			background-color white;
			border-radius(3px)
			overflow hidden
			margin 0 18px 20px

			&__photo{
				height 160px
				position relative
				text-align left
				//background-color #4b4b4b;

				&__links{
					position absolute
					width 160px
					height 160px
					background-color rgba(75,75,75,.8)
					text-align center
					opacity: 0;
					visibility: hidden;
					transition: opacity .2s ease-out, visibility .2s ease-out;

					a{
						width 40px
						height 40px
						display inline-block
						background-repeat: no-repeat;
						background-position: 0% 0%;
						margin: 60px 10px 0;
						cursor pointer
					}

					&__skype{
						background-image: url("../assets/images/about/ico_skype.svg");
					}
					&__linkedin{
						background-image: url("../assets/images/about/ico_linkedin.svg");
					}
				}

				> img {
					position: absolute;
					width: 160px;
					height: 160px;

				}

				&:hover{
					.about__team__member__photo__links{
						opacity: 1;
						visibility: visible;
						transition: opacity .2s ease-out, visibility .2s ease-out;
					}
				}
			}

			&__txt{
				&__name{
					color #4b4b4b
					font-size-em(20px);
					margin: 23px 0 3px;
				}

					&__function{
						color #a9a9a9
						font-size-em(16px);
						line-height 1.12em
					}
				}
			}
		}

	.section__arrow {
		margin-top 140px
	}

	.about-st0 {
		fill:none;
		stroke:#66c1b9;
		stroke-width:16px;
		stroke-linecap:round;
        position: relative;
        z-index: 1;
	}
	.about-st1 {
		fill:none;
		stroke:#FF825A;
		// stroke-linecap:round;
		stroke-dashoffset: 1%;
		opacity: 0;
        position: relative;
        z-index: 2;
	}

}

// .tablet {
//     .about-us {
// 		.section--about {
// 			padding-top: 220px;
// 			padding-bottom: 170px;
// 			.section__pattern--4 {
// 				top: -12px;
// 				height: auto;
// 				.section__pattern__part--top {
// 					height: auto;
// 					background-image: url(../assets/images/pattern/pattern_4_top.svg), url(../assets/images/pattern/pattern_4_bottom.svg);
// 					background-size: 100%, 100%;
// 					background-position: center bottom 94%, center bottom;
// 					@media screen and (min-width: 900px) {
// 						background-position: center bottom 93.5%, center bottom;
// 					}
// 					&:after {
// 						content: '';
// 						display: block;
// 						padding-bottom: 26.1%;
// 					}
// 				}
// 				.section__pattern__part--bottom {
// 					display: none;
// 				}
// 				&:after {
// 					content: '';
// 					display: block;
// 					padding-bottom: 26.1%;
// 				}
// 			}
// 			.section__holder {
// 				max-width: 480px;
// 				.section__header__title {
// 					font-size: 16px;
// 				}
// 				.about__description {
// 					margin-top: 0;
// 					p {
// 						width: 48%;
// 						font-size: 12px;
// 						line-height: 1.3;
// 						text-align: left;
// 						&:nth-child(1) {
// 							float:left;
// 						}
// 						&:nth-child(2) {
// 							float:right;
// 						}
// 					}
// 				}
// 				.about__tracks {
// 					margin-top: 0;
// 					h2 {
// 						margin-bottom: 12px;
// 						span {
// 							font-size: 12px;
// 							&:after, &:before {
// 								margin: 0 10px;
// 							}
// 						}
// 					}
// 					&__item {
// 						width: 100%;
// 						margin-bottom: 35px;
// 						&__score {
// 							width: 70px;
// 							height: 70px;
// 							span {
// 								width: 100%;
// 								height: 100%;
// 								font-size: 12px;
// 								line-height: 70px;
// 							}
// 							.about__tracks__item__track {
// 								width: 100%;
// 								height: 100%;
// 							}
// 						}
// 						&__txt {
// 							font-size: 12px;
// 							line-height: 1.2;
// 						}
// 					}
// 				}
// 				.about__team {
// 					margin-top: 40px;
//                     display: flex;
//                     justify-content: space-around;
//                     flex-wrap: wrap;
// 					.section__header__subtitle {
//                         width: 100%;
// 						font-size: 12px;
// 						margin-bottom: 10px;
// 						span {
// 							&:before, &:after {
// 								margin: 0 10px;
// 							}
// 						}
// 					}
// 					&__member {
// 						width 65px;
// 						height: 112px;
// 						margin: 0;
// 						margin-right: 16px;
// 						&:last-child {
// 							margin-right: 0;
// 						}
// 						&__photo {
// 							width: 65px;
// 							height: 65px;
// 							&__links, img {
// 								width: 65px;
// 								height: 65px;
// 							}
// 							&__links a {
// 								margin: 12px 10px 0;
// 							}
// 						}
// 						&__txt {
// 							h3 {
// 								margin: 7px 0 3px;
// 							}
// 							h3, p {
// 								font-size: 10px;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 		.section__separators {
// 			.section__arrow {
// 				top: -155px;
// 				&__bg {
// 					background-size: 70%;
// 				}
// 				span {
// 					font-size: 10px;
// 				}
// 			}
// 			.section__pattern--5 {
//                 top: -100px;
//                 height: 230px;
//                 .section__pattern__part--top {
//                     height: auto;
//                     background-image: url(../assets/images/pattern/pattern_5_top.svg), url(../assets/images/pattern/pattern_5_bottom.svg);
//                     background-size: 100%, 100%;
//                     background-position: center bottom 94%, center bottom;
//                     @media screen and (min-width: 900px) {
//                         background-position: center bottom 93.5%, center bottom;
//                     }
//                     &:after {
//                         content: '';
//                         display: block;
//                         padding-bottom: 26.1%;
//                     }
//                 }
//                 .section__pattern__part--bottom {
//                     display: none;
//                 }
//             }
// 		}
//     }
// }

.tablet {
    .about-us {
		.section--about {
			padding-bottom: 280px;

            .section__content {
				&.about__description {
					margin-top: 40px;
					p {
						float: none;
						width: 40%;
						text-align: left;
						br {
							display: none;
						}
						&:nth-child(1) {
							margin-right: 40px;
						}
					}
				}
				&.about__tracks {
					.about__tracks__item {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.about__tracks__item__track {
							width: 100%;
							height: 100%;
						}
					}
				}
				&.about__team {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					.section__header {
						width: 100%;
					}
					.about__team__member {
						margin-bottom: 36px;
					}
				}
            }
        }
    }
}


.mobile {
	.about-us {

	}

	.about {
		padding: 0;
		padding-top: 120px;
		&__description{

			p {
				line-height: 16pt;
			}
			p:nth-child(1){
				float left;
				transform: none;
				opacity: 1;
				visibility: visible;
			}
			p:nth-child(2){
				float right
				transform: none;
				opacity: 1;
				visibility: visible;
			}
		}

	}
	.about__section__pattern--bottom{
		position: absolute !important;
		height: auto
		aspect-ratio(1005, 300)
		bottom: -50px !important;
   		z-index: 1000;
		background-image: url("../assets/images/pattern_green.png");
		background-size: 133%;
		background-repeat: no-repeat;
		background-position: bottom center !important;
	}
	.section__holder{
		.about__description{
			font-size-em(12px)
			padding: 0px 25px
			padding-bottom: 100px;
		}
	}
}

@media screen and (max-width: 1400px) {
	.about {
		// padding: 170px 0 250px;

		&__description {
			font-size-em(16px);
			margin-top: 75px;

			p:nth-child(1){
				padding: 0 10px 0 60px;
			}

			p:nth-child(2){
				padding: 0 60px 0 10px;
			}
		}
		&__tracks{
			&__item{
				&__txt{
					font-size-em(16px);
				}

				&__score {
					font-size-em(20px);
				}

				&__track {
					width: 75%;
					height: 75%;
				}
			}
		}
	}
}


@media only screen and (max-width : 1100px){
	.about {
		&__tracks{
			&__item{
				&__txt{
					width: 70%;
				}
			}
		}
	}
}

@media only screen and (max-width : 850px){
	.about {
		&__description{
			//font-size-em(24px);
			margin-top: 75px;

			p{
				display: inline-block;
				text-align: justify;
				vertical-align: top;
				width: 100%;
				padding: 0px 20px;
				letter-spacing: -0.01em;
				line-height: 30px;
			}


			p:nth-child(1){
				margin-bottom: 20px;
				padding: 0 0px 0 0px;
				float: none;
			}

			p:nth-child(2){
				padding: 0 0px 0 0px;
				float: none;
			}
		}


		&__tracks{
			&__item{
				&__txt{
					margin-left: 28px; //
				}
			}
		}
	}
}



@media only screen and (max-width : 750px){
	.about {
		padding: 330px 0 118px;

		&__description{
			margin-top: 25px;

			p{
				line-height: 20px;
			}

		}

		&__tracks{
			&__item{
				&__txt{
					margin-left: 28px;
				}
			}
		}

		&__tracks{
			margin-top 11px

			h2{
				margin-bottom: 36px;
			}

			&__item{
				margin-bottom: 35px;
				padding 0 20px

				&__score{
					width 102px
					height 102px
					line-height 100px

					span {
						position: absolute;
					    top: 0;
					    bottom: 0;
					    display: block;
					    width: 76.5px;
					    height: 76.5px;
					    text-align: center;
					    line-height: 76.5px;
					    opacity: 0;
					    left: 0;
					    right: 0;
					    margin: auto;
					    font-size-em(16px);
					}
				}


				&__txt{
					width: 100%;
					margin-top 22px;
					text-align: center;
					margin-left: 0px;
					line-height: 20px;
				}
			}
		}


		&__team{
			margin-top 44px

			h2{
				margin-bottom: 37px;
			}

			&__member{
				margin 0 10px 10px
			}
		}

		.section__arrow {
			margin-top 0px
			opacity: 1
		}
	}
}
