.agencies {

	.section__arrow span.white-bg {
		color #4b4b4b;
	}

	.section__arrow__bg.white-bg {
		background-image: url('../assets/images/arrow_animation_sprite_grey.png');
		background-position: center center;
    	background-size: auto auto;
	}

	#section_contact .section__holder {
		overflow: hidden;
    	// padding-bottom: 340px;
	}

	.footer {
		margin-top 0
	}

	.agencies-slideshow-mask {
		margin-top 30px
		width 100%
		overflow hidden
		margin-bottom 15px

		.agencies-slideshow {
			width 100%
			padding 0
			.agencies-slidehow-slide {
				display inline-block
				padding 0
				width 100%

				img {
					padding 0
				}
			}
		}
	}
	.navigation-slideshow {
		display flex
		justify-content space-around
		width 100px
		left 0
		right 0
		margin auto
		margin-bottom 75px

		li {
			width 14px
			height 14px
			background-color white
			list-style none
			border-radius 100%
			position relative
			display none

			div {
				height 10px
				width 10px
				background-color $orange
				position absolute
				border-radius 100%
				left 0
				right 0
				top 0
				bottom 0
				margin auto
				transform scale(0)
				transition all 0.5s


			}

			&.visible {
				display block
			}
			&.selected {
				div {
					transform scale(1)
				}
			}

			&:only-child {
				display: none;
			}
		}

	}

	.brand-step3__block {
		margin-bottom 75px

	}

	.brand-section h2 {
		margin-top 75px

	}

	.step_3_intro {
		text-align center
		margin-top 25px
		margin-bottom 40px
	}

	.integration__cards {
		display flex
		justify-content center
		margin-bottom 185px

		p {
			color #4b4b4b
		}
	}

    .integration__companies {
		width: 100%;
		align-items: flex-end;
        &__logo {
			max-width: 160px;
			img {
				width: 100%;
			}
		}
    }
}

.tablet .agencies {
	// Header
	.full-page-header-content {
	    h1 {
	        font-size: 65px;
	        line-height: 1.2;
	        word-spacing: 1.5px;
	    }

	    h3 {
	        top: 17px
	    }
	}


	// WHERE TO BUY SOLUTIONS
	.brands-section__top_section {
		.section__header__subtitle:first-of-type {
			display: none;
		}

		h1 {
			margin-bottom: 20px;
		}

	    .integration__companies {
	    	margin-top: 25px;
	    }
	}

	//

    .our_solution__hightlight_blocks {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .our_solution__hightlight_block {
        height: auto;
        width: auto;
        flex-basis: calc(50% - 12px);
        margin: 0 0 24px 0;
    }

    .our_solution__hightlight_block__title {
        line-height: 66px;
        height: 66px;
        font-size: 20px;
        padding: 0;
    }

    .our_solution__hightlight_block__desc {
    	padding: 20px;
    	br {
    		display: none;
    	}
    }

    // Quote
    .partners__content__quote {
        margin: 0;
        min-height: auto;
		.quote_content_holder {
			background-position: 12px 1.9%;
			width: 80%;
		}
        blockquote {
            font-size: 15px;
            line-height: 1.2;
            margin-bottom: 10px;
        }
        .quote-name,
        .quote-date {
            font-size: 15px;
            font-weight: normal;
        }
    }

    // Case studies
    .integration__cards {
        padding: 0;
        display: flex;
        justify-content: space-around;

        .integration__cards__card__top {
            background-size: 80%;
        }

        .integration__cards__card__bottom {
            line-height: 110px;
        }

        .integration__cards__card {
            height: auto;
            flex-basis: calc(33% - 10px);
        }
        .section__smallbtn {
            padding: 7px 10px;
            min-width: 125px;
        }
    }

    // footer
    .footer {
    	margin-top: 116px
    }
}
