.no-mobile.no-tablet {
    .contact {
        .section__header--contact {
			opacity: 0;
			visibility: hidden;
        }
    }
}

.contact-us {
	.contact__form {
		height auto;
		margin-bottom: 180px;
	}
}

.contact {
	background-color: #4b4b4b;
	//background-image: url("../assets/images/GUIDE_contact_mobile.png");
	//background-repeat: no-repeat;
	//background-position: 50% 0px;
	text-align: center;
	padding: 395px 0 0px;

	@media(max-width: 1545px) {
		padding-top: 385px;
	}

	.contact_pattern {
		top -156px

		@media(min-width: 1545px) {
			top: -136px;
		}

		@media(max-width: 750px) {
			top: -195px;
		}
	}

	&__form {
		height 854px
		margin-top 68px
		margin-top 68px
		margin-bottom 100px
		// padding-right: 17px;
		// padding-left: 17px;
		font-size-em(20px);
		font-family font_bold
		color white
		position relative

		.section__smallbtn {
			bottom: inherit;
			border-radius: 3px;
		    background: transparent;
		    left: 50%;
		    transform: translateX(-50%);
		    padding: 6px 26px 7px 26px;

		    &:hover {
		    	span {
		    		&:after {
		    			transform scaleY(1);
		    		}
		    	}
		    }

			span {
				width: 100%;

				&:after{
					background-color: $orange;
				}

				&:hover:after {
					transform scaleY(1);
				}
			}
		}

		.section__smallbtn--blue {
			background-color: $normal-green;
			&:after {
				border-radius: 3px;
				background-color: $orange;
			}
		}

		&__input{
			display: inline-block;
			vertical-align: top;
			//overflow: hidden;
			// margin-bottom: 39px;
			position relative

			&--single{
				width 100%

				&:last-child {
					margin-bottom: 10px;
				}
			}

			&--double{
				width: 48%;

  				&:nth-child(1n+1) {
  					float: left;
  				}

  				&:nth-child(2n+1) {
  					float: right;
  				}
			}

			&--button{
				height 30px
				width 80px
				font-family: font;
				font-size: 24px;
				font-size-em(18px);
				line-height 55px
				background-color $dark-green;
				border-radius(3px)
				border none
				padding: 0px;
			}


			input, textarea{
				width 100%
				font-size-em(18px);
				font-family: font;
				max-width: 100%;
				height 60px
				border-width: 2px;
				border-style: solid;
				border-color: #939393;
				border-image: none;
				border-radius(3px)
				background: transparent none repeat scroll 0% 0%;
				padding: 0px 19px;
				text-align left

				&:focus {
					outline: 0;
				}
			}

			select {
				background-color: transparent;
				border-width: 2px;
				border-style: solid;
				border-color: #939393;
				border-radius: 3px;
				height: 60px;
				padding: 0 10px;
				width: 100%;
				-webkit-appearance: none;
				-moz-appearance: none;
				background-repeat no-repeat;
				background-position calc(100% - 15px) center;
				background-image url('../assets/images/bg-form-select.png');
                font-family: font;
			}

			option {
				background-color: white;
				color black;
			}

			textarea{
				padding: 12px 19px;
				min-height 200px
				max-height 200px
			}

			label{
				text-align left
				display block
				width 100%
				// margin-bottom: 12px;
			}
		}
	}

	&__map-wrap {
		position: relative;
		height: 500px;
		width: 100%;
	  	overflow:hidden;
		margin-top: 50px;
	}

	&__map{
		height 500px
		background-color: #b8dbff;
	}

	&__offices{
		margin: 60px auto 0 auto;
		position: relative;
		max-width: 1200px;

		&__address{
			color white
			text-align left
			display inline-block
			width 537px
			margin-left 17px
			margin-bottom: 54px;
			vertical-align top

			h3{
				color #6edcd4
				//font-size 24px;
				font-size-em(24px);
				margin-bottom: 21px;
			}

			p{
				//font-size 18px;
				font-size-em(18px);
				line-height: 20px;
			}
		}

		a{
			color: white;
			text-decoration: none;
			//color #ff825a
			transition: color .1s ease-out;
			&:hover {
				transition: color .1s ease-out;
				color #ff825a
			}
		}
	}

	//WP PLUGIN CLASSES
	.wpcf7-not-valid-tip{
		position absolute
		font-size-em(14px);
		color #ff825a
		font-family: font;
	}

	.wpcf7-response-output {
		position absolute
		font-size-em(18px);
		color #6edcd4
		font-family: font;
		margin auto
		left 0
		right 0
		top -44px;
		border none
	}

	.wpcf7-form-control-wrap {
		top: -25px;
	}

	//.wpcf7-mail-sent-ng
	.wpcf7-validation-errors{
		color #ff825a
		display: none;
	}

	.ajax-loader{
		position absolute
	}

	&--disclaimer, &--privacy {
		padding: 102px 0px 0px 0px;
	}

	// Decoration
	.section__pattern {
		display block

	}
}

.partners,
.news,
.blog,
.pricing,
.disclaimer,
.privacy,
.single-post {
	.contact__form {
		margin-bottom: 	220px;
	}
}

.tablet .contact-us {
	.contact__offices__address {
		width: 50%;
	}
}

// .tablet {
//     // .home {
//         .section--contact {
// 			padding-top: 160px;
// 			.section__holder {
// 				max-width: 480px;
// 				.section__header {
// 					// margin-bottom: 0;
// 					h1 {
// 						font-size: 16px;
// 						margin: 0;
// 						line-height: 1;
// 					}
// 					.animate-border {
// 						font-size: 12px;
// 						margin-bottom: 10px;
// 						span {
// 							&:before, &:after {
// 								margin: 0 10px;
// 							}
// 						}
// 					}
// 					p {
// 						font-size: 15px;
// 						margin-bottom: 0;
// 						line-height: 1.5;
// 					}
// 				}
// 				.contact__form__input--double {
// 					width: 48%;
// 				}
// 				.contact__form__input {
// 					margin-bottom: 0;
// 					input, select, textarea {
// 						height: 25px;
// 						border-width: 1px;
// 					}
// 					select {
// 						line-height: 22px;
// 						font-size: 12px;
// 					}
// 					label {
// 						line-height: 12px;
// 						font-size: 12px;
// 					}
// 					textarea {
// 						height: 80px;
// 						min-height: 0;
// 					}
// 				}
// 				.section__smallbtn {
// 					padding: 0 20px;
// 				}
// 			}
// 		}
//     // }
// }

.mobile {
	.contact {
		.section__pattern{
			bottom -60px
		}
		.section--footer{
			height 350px
		}
		&__map-wrap {
			display: none;
		}

		&__offices{
			// top: 0 !important;
		}
		&__form {
			width 90%
			margin-bottom 100px
			padding 0px

			.section {
				&__smallbtn {
					padding: 0 20px;

					span {
						font-size: 15px;
						font-size-em(15px)
						// line-height 22pt
					}
				}
			}
			&__input{
				input {
					height 30px
				}
				span {
					select {
						height 30px
					}
				}
				&--button{

					font-size-em(20px);
					background-color: #6ed6ce;
					color: white;
				}
			}
		}
		.wpcf7-response-output {
			// top 100%
			top: 775px;
		}

		.wpcf7-validation-errors {
			color #ff825a
			display: block;
		}
	}

	.partners,
	.news,
	.blog,
	.pricing,
	.single-post {
		.contact__form {
			margin-bottom: 	100px;
		}
	}

	.disclaimer,
	.privacy {
		.contact__form {
			margin-bottom: 	50px;

		}
	}
}

@media screen and (max-width: 1400px) {
	.contact {

		.mobile & {
			padding: 182px 0 0px;
		}

		&__offices{
			max-width: 1070px;

			&__address{
				width 357px
				p{
					//font-size 18px;
					font-size-em(16px);
					line-height: 20px;
				}
			}

		}
		&__form {
			font-size-em(16px);
			height 640px
			//height: 700px;
			margin-bottom: 70px;
			margin-bottom: 200px;
			width: 100%

			&__input{
				margin-bottom: 0px;

				&--single{
					width 100%

					// &:nth-child(1) {
					// 	float: left;
					// }

					// &:nth-child(2) {
					// 	float: right;
					// }
				}

				&--double{
					// width 45%
					// margin-left 16px
					// margin-right 17px
				}

				&--button {
					height: 50px;
					line-height: 50px;
				}
			}
		}

		// &__map-wrap {
		// 	bottom: 477px;
		// }

	}
}


@media screen and (max-width: 1190px) {
	.contact {
		&__offices{
			&__address{
				width 357px //
			}
		}
		// &__map-wrap {
		// 	bottom: 477px;
		// }

	}

}

@media screen and (max-width: 1100px) {
	.contact {

		.mobile & {
			padding: 139px 0 0px;
		}

		&__form{
			//padding 0 20px
			margin-top 35px
			height auto
			margin-bottom 180px

			&__input{
				margin-bottom: 19px;

				&--single{
					width 100%
				}

				&--double{
					width 100%
					margin-left 0px
					margin-right 0px
				}

				label {
					font-size-em(18px);
				}

				input, textarea, select {
					height 40px
					padding: 0px 10px;
					font-size-em(16px);
				}

				.wpcf7-submit{
					height 40px
					line-height 40px
					font-size-em(18px);
				}
				&--button {
					height: 40px;
					line-height: 40px;
				}
			}

		}

		&__offices{
			padding 0 20px

			&__address{
				width 100%
				margin-left 0
				text-align center
			}

			h3{
				font-size-em(18px);
			}
		}


		a{
			color #ff825a
		}

		//WP PLUGIN CLASSES

		.wpcf7-not-valid-tip{
			font-size-em(12px);
			top 27px
		}

		.comments {
			.wpcf7-not-valid-tip:last-child{
				top 19px
			}
		}

		.wpcf7-response-output {
			font-size-em(14px);
			line-height 17px;
			top -30px;
		}
	}
}

@media screen and (max-width: 420px) {
	.contact {

		.mobile & {
			padding: 140px 0 0px;
		}

		&__form{

			&__input{
				margin-bottom: 0px;

				label {
					font-size-em(16px);
					margin-bottom: 0
				}

				input, textarea{
					height 40px
					padding: 0px 10px;
					font-size-em(16px);
				}

				.wpcf7-submit{
					height 40px
					line-height 40px
					font-size-em(16px);
				}
			}

		}

		&__offices{
			margin-top: 35px;
		}
	}
}
