.home {
	.section__pattern--2 {
		display block
		top: -163px;
		z-index 10
	}

    .solutions__content__title {
        font-size-em(30px)
        margin-bottom: 18px;
    }

    .solutions__content__text {
        font-size-em(16px)
        line-height: 16pt;
    }

    .section__smallbtn {
        &:after {
            transform-origin: top;
        }
    }

    .section__smallbtn--blue {
        span {
            top: 0;
        }

        &:after {
            background-color: $orange;
        }
    }

    .our-solution .section__holder > h2 {
        font-size: 114%;
        padding-left: 17px;
        padding-right: 17px;
    }

    .our_solution__hightlight_block__title {
        font-weight: bold;
    }

    .our_solution__hightlight_block__desc {
        font-size-em(16px)
        line-height: 20pt;
    }

    .our_solution__hightlight_blocks {
        margin-bottom: 120px;
    }


    #demo__request .wpcf7-response-output {
        visibility: hidden;
    }
}

.our-solution {
	padding: 200px 0 290px;
    background-color: #6edcd4;
    overflow: visible;
    padding-bottom: 333px;
    text-align: center;
    z-index: 1;

    .section__holder {
    	padding-top: 255px;

    	> h2 {
    		font-family: "Akkurat-web",sans-serif;
    		font-weight: normal;
    		margin-bottom: 39px;
    	}
    }

    header {
		margin-bottom: 70px;

    	h1 {
    		text-transform: uppercase;
    	}

    	h2 {
    		margin-bottom: 62px;
    	}

    	p {
    		color: white;
    		margin-bottom: 20px;
    		padding-left: 40px;
    		padding-right: 40px;
    		font-size: 114%;
    	}
    }

    .our_solution__steps {
    	margin-bottom: 95px;
    	padding-left: 40px;
    	padding-right: 40px;
    	color: white;
        width 70%


    	svg {
    		display: block;
    		margin: 0 auto;
            width: 100%;
    	}
    }

    .solutions__content__cards {
    	width: 100%;
        left: 0
        right: 0
        margin: 0;
        padding-right: 17px;
        padding-left: 17px;
        text-align: center;
        display: flex;
        justify-content: space-between;

    }

    .solutions__content__card {
    	transform: translate(0, 0);
    	height: 396px;
        width: 350px;

        @media (max-width: 1024px) {
            height 340px
        }
    }


    .solutions__content__card__top {
    	background-repeat: no-repeat;
    	background-position: center;

        @media (max-width: 1024px)  {
            height: 190px;
        }
    }

    .intro__steps__texts {
        width: calc(100% - 140px)
        left: 0
        right: 0
        margin: auto
        display flex
        justify-content space-between
        .intro__steps__text {
            opacity: 0;
            visibility: hidden;
            &:nth-child(1) {
                margin-right: 5px;
            }
            &:nth-child(3) {
                margin-right: -2px;
                margin-left: 8px;
            }
        }
    }

}

.our_solution__hightlight_blocks {
    overflow: hidden;
    // width: 90%;
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 17px;
    padding-right: 17px;
    // margin: auto auto 60px;
    margin: 0;
}

.our_solution__hightlight_block {
    float: left;
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    height: 200px;
    margin-bottom: 24px;
    position: relative;
    vertical-align: top;
    width: 48.2%;
    margin-right 3.6%
    text-align: left;

    &:nth-child(2n) {
        margin-right: 0;
    }

    @media (max-width: 1040px) {
        height 355px
    }
}

.our_solution__hightlight_block__title {
    background-color #7cebe1;
    height: 70px;
    width 100%
    color white;
    font-size percentage(20px / 16px)
    text-align center;
    line-height: 3.7;
}

.our_solution__hightlight_block__desc {
    color: #4b4b4b;
    font-size-em(15px)
    padding: 25px 21px 0;
    text-align: center;
    width: 100%;
    line-height: 15pt;

}

.tablet .home {
    .contact__form .section__smallbtn span {
        padding: 0 10px;
    }
    .our-solution .section__holder {
        padding-top: 100px;
    }
    .our_solution__hightlight_blocks {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .our_solution__hightlight_block {
        height: auto;
        width: auto;
        flex-basis: calc(50% - 12px);
        margin: 0 0 24px 0;
    }

    .our_solution__hightlight_block__title {
        line-height: 66px;
        height: 66px;
        font-size: 20px;
    }

    .our_solution__hightlight_block__desc {
        padding: 20px;
    }

    .solutions__content__cards {
        padding: 0;
        display: flex;
    }

    .our-solution .solutions__content__card {
        flex-basis: calc(33% - 10px);
        width: auto;
        height: auto;
    }

    .solutions__content__title {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .section__smallbtn {
        padding: 7px 10px;
    }

    .solutions__content__card__bottom {
        padding: 12px 20px 36px;
    }
}

// .tablet {
//     .home {
//         .section--our-solution {
//             padding-top: 0;
//             padding-bottom: 160px;
//             .section__holder {
//                 max-width: 590px;
//                 padding-top: 0;
//                 .section__header {
//                     margin-bottom: 0;
//                     .section__header__title {
//                         font-size: 16px;
//                         margin: 0;
//                         line-height: 1;
//                     }
//                     .section__header__subtitle {
//                         font-size: 12px;
//                         margin-bottom: 10px;
//                         span {
//                             &:before, &:after {
//                                 margin: 0 10px;
//                             }
//                         }
//                     }
//                     p {
//                         font-size: 15px;
//                         margin-bottom: 0;
//                         line-height: 1.5;
//                     }
//                 }
//                 .our_solution__steps {
//                     padding: 0
//                     width: 380px;
//                     margin-bottom: 60px;
//                     .intro__steps__texts {
//                         margin: 0;
//                         margin-top: -30px;
//                         width: 100%;
//                         padding: 0 23px;
//                         .intro__steps__text {
//                             font-size: 12px;
//                             margin: 0;
//                         }
//                     }
//                 }
//             }
//             .our_solution__hightlight_blocks {
//                 margin-bottom: 20px;
//                 .our_solution__hightlight_block {
//                     height: 140px;
//                     width: 224px;
//                     float: none;
//                     &__title {
//                         font-size: 12px;
//                         height: 36px;
//                         line-height: 36px;
//                     }
//                     &__desc {
//                         font-size: 10px;
//                         line-height: 1.5;
//                         padding: 15px 8px;
//                     }
//                 }
//             }
//             .markets-heading {
//                 font-size: 15px;
//             }
//             .solutions__content__cards {
//                 justify-content: center;
//                 .solutions__content__card {
//                     margin: 0 10px;
//                     width: 144px;
//                     height: 193px;
//                     &__top {
//                         height: 90px;
//                         width: 100%;
//                         background-size: auto 57px;
//                     }
//                     &__bottom {
//                         padding: 12px 18px 0px;
//                         .solutions__content__title {
//                             font-size: 12px;
//                             margin-bottom: 12px;
//                         }
//                         .solutions__content__text {
//                             font-size: 10px;
//                             line-height: 1.2;
//                         }
//                     }
//                     .section__smallbtn {
//                         font-size: 12px;
//                         padding: 0px 6px;
//                         bottom: -13px;
//                     }
//                 }
//             }
//         }
//         .section__separators {
//             .section__arrow--getintouch {
//                 top: -140px;
// 				.section__arrow__bg {
// 					background-size: 70%;
// 				}
// 				span {
// 					font-size: 10px;
// 				}
//             }
//             .section__pattern--5 {
//                 top: -100px;
//                 height: 230px;
//                 .section__pattern__part--top {
//                     height: auto;
//                     background-image: url(../assets/images/pattern/pattern_5_top.svg), url(../assets/images/pattern/pattern_5_bottom.svg);
//                     background-size: 100%, 100%;
//                     background-position: center bottom 94%, center bottom;
//                     @media screen and (min-width: 900px) {
//                         background-position: center bottom 93.5%, center bottom;
//                     }
//                     &:after {
//                         content: '';
//                         display: block;
//                         padding-bottom: 26.1%;
//                     }
//                 }
//                 .section__pattern__part--bottom {
//                     display: none;
//                 }
//             }
//         }
//     }
// }

.tablet {
    .home {
        .our-solution {
            padding-top: 370px;
            .section__content {
                &.our_solution__steps {
                    width: 600px;
                    max-width: 90vw;
                    padding: 0;
                    .intro__steps__texts {
                        display: flex;
                        justify-content: space-between;
                        margin: 0 auto;
                        .intro__steps__text {
                            margin: 0;
                            width: auto;
                            &:nth-child(1) {
                                margin-right: 10px;
                            }
                            &:nth-child(3) {
                                margin-right: -35px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.mobile {
    #request-demo-close {
        display none
    }
    .intro {
        // height 150vh

        &__bg {

            top: 50px;

            #demo__request{
                width: 100%;
                position: relative;
                padding-top: 10px !important;
                padding-bottom: 40px;
                transform : scaleY(0)
                top calc(100% - 319px);
                transition all 0.5s

                span.wpcf7-not-valid-tip {
                    margin-top: -17px;
                }

                h2 {
                    font-size-em(15px)
                    margin-top 0px
                }
                p {
                    span {
                        input {
                            margin-bottom 10px
                            height 30px
                            font-size-em(10px)
                        }
                    }
                }
                #requestDemoSubmit{
                    height: 30px
                    font-size-em(10px)
                }

                &.open {
                    transform scaleY(1)
                }

            }
        }
    }


    .loader {
        display: none
    }
    .home {

        &__section {
            &__pattern {
                &--bottom {
                    top: -60px;
                    height: 110px
                    background-image: url("../assets/images/pattern_green.png");
                    background-size: 133%;
                    background-repeat: no-repeat;
                    background-position: top center;
                    position: relative;

                }
            }
        }
        .section {
            &__content{
                margin-top: 40px
                margin-bottom: 35px;

                svg {
                  height: 60px;
                  margin-bottom: 20px
                }

            }
            &__separators {
                height: 0

                .footer__pattern--top {
                    display: none
                }
            }
            &__arrow{
                display: none
            }
            &__holder {
                // height: auto;
                padding-top: 30px
                padding-right: 40px
                padding-left: 40px

                h2 {
                    font-size-em(12px)
                }
            }
            &__header {
                &__title {
                    font-size-em(17px)
                    line-height: 18pt
                }
                &__subtitle {
                    font-size-em(12px)
                    line-height: 14pt
                    width: 80%
                    left: 0
                    right: 0
                    margin: auto
                }
            }
            &--our-solution {
                padding: 30px 0 0px;

                header {
                    margin-bottom: 0
                    margin-top: 50px
                }


                h1 {
                    font-size-em(13px)
                    width: 100%
                    line-height: 16pt
                }
                p {
                    font-size-em(12px)
                    line-height: 15pt
                    margin-top: 40px
                    padding-left: 0
                    padding-right: 0
                }



                .caption {
                    display: flex
                    justify-content: space-around
                    font-size-em(10px)
                    text-align: center
                    width:85%
                    left: 0;
                    right: 0;
                    margin: auto;


                    div {
                        margin: 0 !important
                        width: 100%

                    }

                    .intro__steps__text--find{

                    }

                    p {
                        margin: 0
                        line-height: 1
                        font-size-em(19px)
                        font-weight bolder
                        // width 100%
                    }

                    p:nth-child(3) {
                        margin: 0
                    }
                }
            }
            .our_solution {
                &__steps {
                    padding-left: 0
                    padding-right: 0
                    width 100%
                    .intro__steps__text {
                        max-width: 65px;
                    }
                }
                &__hightlight_blocks {
                    left: 0;
                    right: 0;
                    margin: auto;
                    max-width: 300px;
                }
                &__hightlight_block {
                    width: 100%
                    height: auto;
                    padding-bottom: 15px;

                    &__title {
                        height: 45px
                        line-height: 3.2
                        font-size-em(15px)
                    }
                    &__desc {
                        font-size-em(10px)
                        line-height: 10pt
                        padding-top: 12px
                    }
                }


            }
            .solutions__content__cards {
                flex-direction: column
                .solutions__content__card {
                    width: 80%;
                    min-width: 200px
                    height: auto
                    margin-bottom: 0
                    left: 0;
                    right: 0;
                    margin: auto;

                    &__top {
                        height: 120px
                        background-size: auto 65%;
                    }

                    &__bottom {
                        height: 85px
                        margin-bottom: 6px;
                        .solutions__content__title {
                            font-size-em(15px)

                        }
                        .solutions__content__text {
                            margin-top: 0px;
                            font-size: 0.5em;
                            line-height: 8pt;
                            top: -5px;
                            position: relative;
                        }
                    }
                    &__content {
                        position: relative
                        left: 0
                        right: 0
                        width: 80%;
                        min-width: 200px
                        top: -2px;
                        margin: auto
                        height: 0
                        background-color: #f7f7f7
                        margin-bottom: 30px
                        z-index: -1
                        -webkit-transition: all 0.5s
                        -o-transition: all 0.5s
                        transition: all 0.5s
                        overflow: hidden
                        display: flex
                        align-items: center

                        p {
                            padding: 0
                            margin: 0
                            height: 0
                            overflow: hidden
                            -webkit-transition: all 0.5s
                            -o-transition: all 0.5s
                            transition: all 0.5s
                            color: #a4a4a4;
                            font-size: 0.5em;
                            line-height: 10pt;
                            width: 100%
                            padding-top: 20px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }

                    }
                    &__content.open {
                        height: 200px

                        p {

                            height: auto
                        }
                    }
                }
                .solutions__content__card__content:last-child {
                    margin-bottom: 50px
                }

                .section__smallbtn {
                    min-width: 0
                    // width: 70px
                    // height: 20px
                    // background-color: #ff825a
                    // bottom: -10px

                    span {
                        font-size-em(13px)
                        // line-height: 20px;
                        transition: 0.5s
                        border-radius: 3px;
                        text-transform capitalize
                    }

                    svg {
                        display: none
                    }
                }

                .section__smallbtn.open span{
                    // background-color: #4b4b4b
                }

            }
            .pricing__section__pattern {
                aspect-ratio(1005, 300)
                height: auto
                background-size: 133%;
                background-repeat: no-repeat;
                background-position: top center;
                margin-top: 0
                bottom: -60px;
            }
        }
    }
    .home {
        .section--contact {
            // padding-top: 30px
        }
    }
}
