.no-mobile.no-tablet {
    .news {
        .section__header--news {
			opacity: 0;
			visibility: hidden;
        }
    }
}

.news {

	> .section__holder {
		padding-top: 80px;

		@media(max-width: 1545px) {
			padding-top: 70px;
		}
	}

	.section__smallbtn {
		// background-color: $orange;

		&:after {
            background-color: $logo-grey;
            transform-origin: bottom;
        }

		// span {
		// 	line-height: 40px;
		// }
	}

	.section__content {
		// margin-bottom: 10px;
	}

	.section__smallbtn--blue {

        &:after {
        	background-color: $orange;
        }

        span {
            top: 0;
        }
    }

    &__load-more-btn {
    	background-color: $white-smoke;
    	transition all 0.3s
    	padding: 10px;
    	max-width: 1130px;
    	display: block;
    	margin: 0 auto;
    	text-decoration: none;
		color: $logo-grey;
		font-weight: bold;
		position: relative;
		border-radius: 2px;
		z-index 2
		margin-top: 50px;

		&:after {
			transition all 0.3s
			transition-timing-function: ease
			content: ""
			width 100%
			height 100%
			position: absolute;
			top 0
			left 0
			color: white;
			background-color: $logo-grey;
			border-radius: 3px;
			transform scaleY(0);
			transform-origin bottom
			z-index: -1
		}

		&:hover {
			color: white

			&:after {
				transform scaleY(1);
			}
		}
    }

	&__content{
		clearfix();
		//padding: 0 20px;

		&__image {
			background-color: #fafafa;
			margin-bottom: 24px;
			padding-bottom: 75%;
			width: 100%;

			background-size: cover;
			background-repeat: no-repeat;
		}

		&__title {
			font-family: font_italic;
			color #4b4b4b;
			font-size-em(30px)
			letter-spacing: -0.03em;
		    margin: 0 0 5px;
			padding-left: 25px;
			padding-right: 20px;
			line-height: 32px;
			width: 100%;
		}

		&__date {
			font-size-em(16px)
			margin: 0 0 10px;
			opacity: 0.5;
			padding: 0 25px;
			width: 100%;
		}


		&__card {
			position: relative;
			height: 465px;
			margin-bottom: 40px;
			background: white;
			border-radius(3px);
			padding-bottom 30px;
			text-align: left;
			background-color #f7f7f7
			flex: 0 1 calc(33% - 28px);
			flex-basis: calc(33% - 28px);

			@media(max-width 970px) {
				flex-basis: calc(50% - 28px)
			}

			.news__content__text--full {
				display: none
			}

			&.extended .news__content__text {
				&--full {
					display: block;
				}
				&--preview {
					display: none;
				}
			}

			.section__smallbtn {
				// background-color: #4d4d4d;
				// background-color: #ff805a !important;

				// &:hover {
				// 	background-color #ff825a
				// }
			}
		}

		&__text{
			color #4b4b4b;
			//font-size 18px;
			font-size-em(18px);
			line-height 1.12em;
			letter-spacing -0.01em;
			margin: 15px 0 20px;
		}

		&--single {
			width: calc(100% - 40px);
			max-width 1200px
			height: auto;
			margin auto
			top 0
			bottom 0
			right 0px
			left 0px
			text-align justify
			padding 80px 0
			// background-color white
			font-size-em(18px);
			color white
			overflow auto

			h1{
				font-family: font_bold;
				font-size-em(36px);
				color white
				line-height 36px
				margin-bottom 40px
				text-align center
			}

			h2{
				font-family: font_bold;
				color #ff805a
				font-size-em(24px);
				line-height 28px;
				height: 28px;
				margin 40px 0px 15px

				span::before, span::after {
					display: none;
				}
			}

			h3{
				font-family: font_bold;
				color #ff805a
				font-size-em(24px);
				line-height 24px
				margin 40px 0px 15px
			}

			a {
				color inherit;
				text-decoration: underline;
			}
		}
	}

	h2 {
		margin-bottom 39px
	}

	#section_contact {
		// padding-bottom: 180px;
	}
}

.news__section__pattern--bottom {
	bottom -504px;
}

.news__page__section__pattern--bottom {
	bottom -161px;
}

.news-article .section__holder {
	// margin-top 110px !important
}

.news-intro-cols {
	width 100%
	overflow hidden
	float none
	margin-bottom 85px
}

.news-intro-col {
	width 50%
	float left

	p {
		// color white;
		text-align: left;
		width 100%
		padding 0 17px;
	}
}

.news-rows {
	width 100%;
	padding: 0 17px;
	min-width 750px
	overflow hidden;
	margin-bottom 47px;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap

}

.read-more-news-rows {
	clear both;
	float none;
	width 100%;
	overflow hidden;
	margin-bottom 47px;

	.news__content__card:nth-child(3n-2) {
		// margin-left 5px
	}
}

.hidden-news-rows {
	display none
}

.load-more-btn {
	width 100%;
	height 78px;
	display block;
	border: 0;
	border-radius: 2px;
	margin-bottom 20px
	background-color #7ce5db;
	color white;

	&:hover {
		background-color #ff805a
	}
}

.news-page-top-pattern {
	background-color: transparent;
    bottom: auto;
    position: relative;
    top: -170px;
	margin-bottom -144px

	@media(max-width 750px) {
		 top: -150px;
	}
}

.news-article {
	.section__holder {
		max-width: 1240px;
		margin-top: 70px;

		h1 {
			text-transform: uppercase;
		}

		h2 {
			text-transform: uppercase;
			margin-bottom 30px;
		}

		.news__content--single {
			padding-top 0

			// img {
			// 	display: block
			// 	width: 50%;
			// }
		}

		blockquote {
			max-width: 100%;
			min-width: 50%;
			font-size: 168%;
			line-height: 1.45;
			margin-left: 0;
			padding-left: 40px;
			font-family: font_italic;
			color #6edcd4
			text-align: left;
			position relative
			overflow hidden
			margin-bottom: 32px;

			&:before {
				background-color: #6edcd4;
				bottom: 5px;
				content: "";
				left: 1px;
				position: absolute;
				top: 8px;
				width: 5px;
			}

			p {
				// clear: both;
				font-size 100%;
				// max-width 100%
				color #6edcd4
				padding-right: 5.1%;
				display inline-block
				float left;
				margin-bottom: 0;
			}
		}

		.alignright {
			display inline-block
			float right
			max-width: 564px;
			vertical-align: top;
			margin-left 32px;
			margin-bottom: 18px;

			img {
				max-width: 564px;
			}
		}

		.aligncenter {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			max-width: 100%;
			float: none;
			margin-bottom: 0;

			img {
				display: block;
			}
		}

		.alignleft {
			display inline-block
			float left
			max-width: 564px;
			vertical-align: top;
			margin-right 32px;
			margin-bottom: 18px;

			img {
				max-width: 564px;
			}
		}

		.alignnone {
			margin-bottom: 0;
		}

		p {
			margin-bottom: 36px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.tablet {

    .page-news, .page-blog {
		.news-article .section__holder {
			margin-top: 0;

			.alignright{
				height 100%
				width 100%
			}
			blockquote {
				width 100%
			}
		}
		.section {

            &.news {
				.section__holder {
					.section__header {
						&__title {
							font-size: 40px;
						}
						.news-intro-cols {
							.news-intro-col {
								&:nth-child(1) {
									p {
										padding-left: 0;
									}
								}
								&:nth-child(2) {
									p {
										padding-right: 0;
									}
								}
							}
						}
					}
					.news__content {
						width: 100%;
						.news-rows {
							width: 100%;
							min-width: 0;
							justify-content: space-between;
							flex-wrap: wrap;
							padding: 0;
							.news__content__card {
								width 48%;
								min-height: 0;
								height: auto;
								margin-left: 0;
								.news__content__image {
									margin-bottom: 0;
								}
								.news__content__title {
									padding: 10px;
									font-size: 26px;
									line-height: 35px;
									margin: 0;
								}
								.news__content__date {
									padding: 0 10px;
									display: block;
									margin-bottom: 15px;
								}
							}
						}
					}
				}
				.news__load-more-btn {
					width: calc(100% - 40px);
					font-size: 14px;
				}
            }
        }
	}
	.single-post {
		.full-page-header {
			height: 411px;
			min-height: 0;
			&-content {
				h1 {
					font-size: 36px;
					word-spacing: 1.5px;
					letter-spacing: 1;
				}
				h3 {
					top: 10px;
				}
			}
		}

		.news-article .section__holder {
			margin-top: 0;
			.alignright.tab-no-align {
				float: none;
			}
		}

		.section-news-read-more {
			width: 100%;
			.news-rows {
				width: 100%;
				min-width: 0;
				justify-content: space-between;
				flex-wrap: wrap;
				padding: 0;
				.news__content__card {
					width 48%;
					min-height: 0;
					height: auto;
					margin-left: 0;
					.news__content__image {
						margin-bottom: 0;
					}
					.news__content__title {
						padding: 10px;
						font-size: 26px;
						line-height: 35px;
						margin: 0;
					}
					.news__content__date {
						padding: 0 10px;
						display: block;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

.mobile {
	.single-post{
		.section__pattern.top_pattern.green {
			margin: 0;
			top: -40px;
		}
	}
	.page-news, .page-blog {

		.news.section {
			padding-top: 50px;
		}
	}
	.news {
		.section__holder {
			margin-top 0px
			padding-top 60px
		}

	}
	.news-article {
		.section__holder {
			margin-top 0px
			padding-top 0px
		}

	}
	.news,.news-article {
		.section__holder {

		}
		.news_one {
			// top -50px !important
		}

		&-page-header{
			// height: 225px;
			height: 40vh;
			position relative

			&-content{
				position: absolute;
				z-index: 1;
				top: 60%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				width: auto;
				display: flex;


				h1{
					color: #fff;
					font-size-em(25px)
					line-height: 1.3;
					text-transform: uppercase;
					order: 2;
					width 70%


				}
				.date {
					color: #fff;
					-webkit-transform: rotate(-90deg);
					transform: rotate(-90deg);
					font-size: 0.555555555555556em;
					order: 1;
					left: 30px;
					height 40px
					text-align: right;
					position: relative;
					top: 24px;

				}
				h3 {

					position: absolute;
					font-size-em(5px);
					height: 100%
					top 2px;
					margin-left: -48px;

					.news-page-header-date {
						top: 0
						position: absolute
						background-color: black
						z-index: 1000
						padding-bottom: 5px;
					}

					.news-page-header-line {
						position: relative;
						background-color: #9d9095
						height: 90%
						width: 1px
						left: 1px
					}

				}

			}
			&-bg {
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
		&__content, .section-news-read-more {
			&__image {
				// margin-bottom: 20px
				margin-bottom: 7px;
			}
			&__title {
				margin: 0;
				font-size-em(15px)
				padding: 0 15px
			}
			&__date {
				// margin-bottom: 15px
				margin-bottom: 20px;
				font-size-em(9px)
			}
			h1 {
				text-transform: uppercase;
				font-size-em(20px)
			}
			p {
				// color: #FFFFFF
				font-size-em(12px)
			}
			&__card{

				.section__smallbtn {
					bottom: -13px;

					span {
						font-size-em(14px);
						text-transform capitalize
						-webkit-transition: 0.5s;
						transition: 0.5s;
						border-radius: 3px;
						height 25px
						line-height: 25px;
					}
				}

				.news__content__text--full {
					display: none
				}

				&.active {
					.news__content__text--full {
						display: block;
					}
					.news__content__text--preview {
						display: none;
					}

					.section__smallbtn {
						background: #4D4D4D;

					}
				}

			}
			.visible-news-rows, .read-more-news-rows {
				// width: 80%;
				width: 100%;
				left: 0;
				right: 0;
				margin: auto;
				min-width 0px
				flex-direction column
			}
			&__card {
				padding: 0 !important


				.news__content__date {
					// margin-bottom: 15px
					padding: 0 15px
				}

			}
		}

		&-intro-col {
			p {
				font-size-em(12px)
				line-height: 15pt
			}
		}
	}
	.section {
		&__separators {
			height: 100px
			top: 20px

			&__load {
				position: relative
				background-color: #7ce5db
				.load{
					font-size-em(9px)
					color: #FFFFFF
				}
			}
		}
		&__arrow {
			display: block
			/*position relative	*/
			top: 70px
		}
	}
	.section {
		&__separators {
			.section__arrow--intro.footer_mobile{
				.section__arrow__bg.white {
					background-image: url('../assets/images/arrow_mobile.png');
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.section {
		&__holder {
			max-width: 1200px;
		}
	}
}



@media screen and (max-width: 1205px) {
	.news {
		&__content{
			//padding: 0 20px;
			// font-size 90%

			&__title{
				margin: 0 0 10px;
				font-size: 30px;
				// font-size-em(24px);
			}

			&__date{
				margin: 0 0 10px;
				font-size-em(18px);
			}

			&___text{
				// font-size-em(16px);
				font-size-em(20px);
				line-height: 18px;
			}

			&__card{
				width: 49%;
				min-height: 360px;

				&:nth-child(3n-1){
					margin: 0 0 40px;
				}

				&:nth-child(odd){
					margin-right: 2%;
				}
			}
			&--single {
				width: auto;
				padding: 50px 50px;
				margin-bottom: 25px
			}
		}
	}
}


@media only screen and (max-width : 750px){
	.news.news-article {
		padding-top: 0px !important
	}
	.news.section{
		padding-top: 170px;
	}
	.news {

		.news__section__pattern--bottom {
			top: -100px
			background-image: url("../assets/images/pattern_green.png");
			background-size: 133%;
			background-repeat: no-repeat;
			background-position: top center;
			position: relative;
			width: 100%
		}
		&__content {
			// font-size 80%
			&__card, &__card:nth-child(odd){
				min-height: 0;
				flex-basis: auto;
				margin: 0 0 40px auto;
				padding: 22px 20px 20px;
				width: 100%;
				height: auto;
			}

			&__title {
				margin: 0 0 16px;
				font-size-em(20px);
			}

			&__date {
				font-size-em(14px);
			}

			&__text {
				font-size-em(14px);
				line-height: 20px;
				margin: 0 0 20px;
			}
		}
	}
}

@media only screen and (max-width : 420px){

	.news {
		.section__holder {
			margin-top: 0

			.section__header {
				/*top: 200px;*/
				position: relative;

				.news-intro-cols {
					width: 100%
					margin-bottom: 100px;

					.news-intro-col {
						width: 100%
					}
				}
			}
		}
		&__content {
			&--single {
				padding: 50px 20px;
				width: 100%;
				height: auto;
				border-radius(3px)
				//position absolute
				margin: auto
				top: 0
				bottom: 0
				right: 0px
				left 0px
				text-align justify
				//padding 80px 80px
				/*background-color white*/
				color #4b4b4b
				overflow auto

				h1{
					font-size-em(23px);
				}

				h2{
					font-size-em(18px);
					text-align: left;
				}

				p {
					font-size-em(16px);
					text-align: left;
					line-height: 1.5em;
				}
			}
		}
	}
}

// Feedback changes

.page-news, .page-blog {

	.news.section {
		background-color white;
		padding-top 318px

		.section__pattern--4 {
			display block
			top: -156px;

			@media(min-width: 1545px) {
				top: -136px;
			}

			@media(max-width: 750px) {
				top: -196px;
			}
		}
	}
}

.single-post .section.news-article {
	background-color white
}

.page-news,
.page-blog,
.single-post {
	.section__arrow span {
		color #4b4b4b;
	}

	.section__arrow__bg {
		background-image: url('../assets/images/arrow_animation_sprite_grey.png');
		background-position: center center;
    	background-size: auto auto;
	}
}

// .page-news .news.section,
// .single-post .section.news-article {

// 	h1,
// 	.section__header__title,
// 	.section__header__subtitle,
// 	.section__content p,
// 	.news-intro-col p {
// 		color black;
// 	}
// }

.page-news .news.section,
.page-blog .news.section,
.single-post .section.news-article {

	h1,
	.section__header__title,
	.section__header__subtitle,
	.section__content,
	.news-intro-col {
		color black;
	}
}

.news-article .section__holder blockquote p {
	color: $normal-green;

}
