.no-mobile.no-tablet {
    .partners {
        .section__header {
			opacity: 0;
			visibility: hidden;
        }
    }
}

.partners {
	padding 0

	&.section {
		padding-top 0


		> h1 {
		  margin-bottom 38px;
		  text-transform: uppercase;
		}
	}

	.section__smallbtn {
		// background-color: $orange;

		&:after {
            background-color: $logo-grey;
            transform-origin: bottom;
        }
	}

	.section__smallbtn--blue {
        background-color: $blue;

        &:after {
        	background-color: $orange;
        }

        span {
            top: 0;
        }
    }

	&__content{

		&__card{
			display inline-block;
			vertical-align: top;
			position relative;
			width 360px;
			height 633px;
			margin-bottom 100px;
			background white;
			border-radius(3px);
			margin-top: 83px;
			margin-left 37px

			&.first-content-card {
				margin-left 0
			}

			&__top{
				height 100px;
				overflow hidden
				background-color #7cebe1;
				border-radius(3px 3px 0  0);
				color white

				font-size: 164.5%;
				padding-top: 32px;
			}

			&__bottom{
				padding 16px 20px 0px;
				height 127px;

				@media(max-width 850px) {
					height auto;

					p {
						padding-bottom: 20px;
					}
				}

				p {
					color #4b4b4b;
					height 100%;
					font-size: 108%;
					border-bottom: 1px solid #d8d8d8;
				}
			}

			&__logos {
				padding 39px 24px 0 2px
				text-align: center;
			}

			&__logos img {
				display: inline-block;
				margin-bottom: 30px;
				margin-left: 22px;
				vertical-align: middle;
//
//				&:nth-child(2n) {
//
//				}
			}
		}

		&__quote {
			margin-top 70px
			margin-bottom 0;
			max-width 1206px;
			padding-bottom: 12px;
			padding-top: 12px;
			padding-left: 12px;
	    	border-radius: 2px;
	    	left: 0;
	    	right: 0;
	    	margin: auto;
			overflow: hidden;
			background-color white;

			.quote_image_holder {
				height 100%
				overflow: hidden;
				float left
				width: 19.6%;

				img {
					display block
					width 100%
					max-height: 100%;
				}
			}

		   .quote_content_holder {
				color: #4b4b4b;
				float: left;
				font-size: 88%;
				min-height: 100%;
				padding-left: 54px;
			    padding-right: 30px;
			    padding-top: 41px;
				text-align: left;
				width: 80%;
				background-image: url(../assets/images/img-quote-up.png);
				background-repeat no-repeat;
				background-position: 18px 19.9%;
		   }

			blockquote {
				margin 0
				line-height: 1.34;
				margin-bottom 17px
			}

			.quote-name {
				color #ff805a
			}

			.quote-date {
				position relative

				&:after {
					content: "";
					background-image: url(../assets/images/img-quote-down.png);
					background-repeat no-repeat;
					background-position: 1.9% 19.9%;
					width 23px
					height 20px
					position absolute
					right: -41px;
    				top: 3px;
				}
			}

		}
	}

}

.tablet {

	// Quote
	.partners__content__quote {
	    margin: 0;
	    min-height: auto;

	    .quote_content_holder {
	        background-position: 12px 1.9%;
	        padding-top: 0;
	        width: 80%;
	    }

	    blockquote {
	        font-size: 15px;
	        line-height: 1.2;
	        margin-bottom: 10px;
	    }
	    .quote-name,
	    .quote-date {
	        font-size: 15px;
	        font-weight: normal
	    }
	}

    .partners {
    	h2 {
    		padding: 0 $tablet-gutter;
    	}

    	.partners__content__card,
    	.partners__content__quote {
    		width: auto;
    		margin-left: $tablet-gutter;
    		margin-right: $tablet-gutter;
    	}
    	.partners__content__quote {
    		margin-top: 83px;
    	}
    	
    	.partners__content__card {
    		margin-bottom: 0;
    	}
    }
}



// .tablet {
//     .partners {
//         .news__section__pattern--top {
//             height: 186px;
//             background-size: auto 100%;
//             background-position-y: -43px;
//             margin-bottom: 4px;
// 			@media screen and (min-width: 750px) {
// 				background-position-y: -3px;
// 			}
//         }
// 		h1 {
// 			font-size: 16px;
// 			margin-bottom: 25px;
// 		}
// 		h2 {
// 			font-size: 10px;
// 			width: 500px;
// 			margin: 0 auto;
// 		}
// 		.partners__content__card {
// 			width: 145px;
// 			height: 255px;
// 			margin-right: 16px;
// 			margin-top: 30px;
// 			&.first-content-card {
// 				margin-left: 16px;
// 			}
// 			&:last-child {
// 				margin-right: 0;
// 			}
// 			.partners__content__card__top {
// 				font-size: 12px;
// 				height: 40px;
// 				line-height: 40px;
// 				padding-top: 0;
// 			}
// 			.partners__content__card__bottom {
// 				padding: 20px 16px 0px;
// 				.partners__content__text {
// 					font-size: 8px;
// 					line-height: 1.5;
// 				}
// 				.partners__content__card__logos {
// 					a {
// 						img {
// 							max-width: 40px;
// 						}
// 					}
// 				}
// 			}
// 			.section__smallbtn {
// 				display: none;
// 			}
// 		}
//     }
// }

.mobile {
	.partners {
		// padding: 140px 0 100px;  //254

		&__content {

			&__wrap {
				position: initial;
			}
			&__card {
				opacity: 1;
				visibility: visible;
				transform: none;
			}

			&__block {
				transform: none;
				visibility: visible;
				margin-bottom: 20px;

				&__cache {
					display: none;

				}

				&__column{

					&--left{
						float none;
					}

					&--right{
						float none;
					}

					li:nth-child(even){
						background-color #f6f6f6;

						&.hover {
							background-color #f6f6f6;
						}

						&.selected {
							background-color #6b6b6b;
							color: white
						}

					}

					li:nth-child(odd){
						background-color #e5e5e5;
						&.hover {
							background-color #e5e5e5;
						}

						&.selected {
							background-color #6b6b6b;
							color: white
						}
					}

					li:nth-child(1){
						background-color #4b4b4b;

						&:hover {
							background-color #4b4b4b;
						}

					}
				}
			}

			&--who {
				min-height: 1070px;
				.solutions__content__wrap {
					margin-bottom: 40px;
				}
			}

			&--how {

				min-height: 1060px;
			}

			&__gallery{
				&__cover {
					display: none !important;
				}
			}

		}



	}
}

@media screen and (max-width: 1024px) {
	.partners {
		&__content{

			&__card{


				&__top{
					// height 140px;

					img {
						height 140px
					}
				}

				&__bottom{
					padding 20px 20px 0px;
				}
			}
		}
	}
}

@media only screen and (max-width : 850px){
	.partners {

		&__content{

			&__card{
				width calc(100% - 50px);

				height auto;
					margin-left 0;
			}
		}
	}

	.partners {
		// padding: 140px 0 100px;  //254


		&__content {
			&__card {
				opacity: 1;
				visibility: visible;
				transform: none;
			}

		}

	}
}
