.retailers {

	.section__arrow span.white-bg {
		color #4b4b4b;
	}

	.section__arrow__bg.white-bg {
		background-image: url('../assets/images/arrow_animation_sprite_grey.png');
		background-position: center center;
    	background-size: auto auto;
	}

	#section_contact .section__holder {
		overflow: hidden;
    	// padding-bottom: 340px;
	}

	.footer {
		margin-top 0
	}

	.partners__content__quote {
		margin: 0 17px;
	    background-color: #ff825a;
	    max-width: 1206px;
	    padding-bottom: 12px;
	    padding-top: 12px;
	    padding-left: 12px;
	    border-radius: 2px;
	    display: flex;
	    align-items: center;

    	@media(max-width: 750px) {
    		margin: 0;
    	}

		.quote_content_holder,
		.quote-name {
			color white;
		}

		.quote_image_holder {
			width: 19%;
		}

		.quote_content_holder {
			font-size: 98.3%;
			background-position: 12px 11.9%;
			padding-left: 46px;
			padding-top 0
			padding-bottom 0
			background-image: url("../assets/images/img-quote-up-white.png");

			blockquote {
				line-height 1.24;
			}
		}

		.quote-date:after {
			background-image: url("../assets/images/img-quote-down-white.png");
		}
	}

	.brands-list {
		padding: 0 17px;
		margin-bottom: 50px;

		@media(max-width: 750px) {
			padding: 0;
		}
	}

	.contact {
		// padding-bottom: 150px;
	}

	// .relailers__hightlight_block__title {
 //        font-weight: bold;
 //    }

 //    .relailers__hightlight_block__desc {
 //        font-size-em(16px)
 //        line-height: 20pt;
 //    }

 //    .relailers__hightlight_blocks {
 //        margin-bottom: 120px;
 //    }
}

.retailers-section {
	background-color: white;
	overflow visible
	min-height: auto;
	padding-bottom: 333px;
	color: #4b4b4b

	&.retailers-section-green {
		background-color #6edcd4;
		color: white;

		.step-number {
			background-color white;
			color: #6edcd4;
		}
	}

	// &:not(.brands-section-green) {
		.section__arrow {
			color #4b4b4b
		}
	// }

	.section__holder {
		margin-top: 35px;
		max-width: 1240px;
	}

	h1 {
		margin-bottom: 30px;
		text-transform: uppercase;
		width 100%
		text-align: center;
		color inherit;
	}

	h2 {
		text-align: center;
		color inherit;
	}

	.step-number {
		background-color #4f4f4f;
		width 30px
		height 30px
		border-radius 50%;
		display inline-block
		text-align center;
		color white
		font-weight: light;
		margin-right: 6px;

		@media (max-width 750px) {
			border-radius: 50%;
		    color: #fff;
		    display: inline-block;
		    height: 20px;
		    line-height: 1.8;
		    margin-right: 6px;
		    text-align: center;
		    width: 20px;
		}
	}

	p {
		color inherit;
	}

	.section__pattern {
		display block
		top: -195px;
	}
}

.retailers-section__top_section {
	.section__header__title {
		margin-bottom: 52px;
	}
	.section__header__subtitle {
		margin-bottom: 20px;
	}
	.section__holder > h2 {
		margin-bottom: 24px;
	}

	.section__holder > p {
		// font-size: 135%;
	    margin-bottom: 70px;
	    text-align: center;
	}
}

.retailers-intro-cols {
	width 100%
	overflow hidden
	margin-bottom 63px

	p {
		text-align: center;

		&:nth-child(1) {
			font-weight: bold;
		}
	}

	// p {
	// 	float: left;
	//     padding: 62px 15px 0 44px;
	//     width: 50%;

	// 	&:first-child {
	// 		font-weight bold
	// 	}
	// }
}

.retailers-top__big-image {
	display block
	margin 0 auto
	margin-bottom 100px
	width 100%
	max-width 752px;
}

.retailers-intro-logos {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 120px;
}

.retailers-intro-logo-block {
    max-width: 160px;
    margin: 0 30px;
    img {
        width: 100%;
    }
}

.retailers__hightlight_blocks {
	padding: 0 17px;
	width 100%
	display flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	margin-bottom 26px;
	justify-content: space-between;

	@media(max-width: 750px) {
		justify-content: center;
		display block
		padding: 0;

		.retailers__hightlight_block {
			clear: both;
			margin: 0 auto 24px;
			min-width: 100%;

			&:last-of-type {
				margin-bottom: 50px;
			}
		}
	}
}

.retailers__hightlight_block {
	background-color: #f4f4f4;
    margin-bottom: 24px;
    // width: 560px;
    width: 48.2%;
    height: 260px;
    min-width 300px;
    border-radius: 2px;
}

.retailers__hightlight_block__title{
	background-color: #7cebe1;
    color: #fff;
    font-size-em(24px);
    height: 88px;
    line-height: 88px;
    font-weight: bold;
    // padding: 12px 42px 0;
    text-align: center;
    width: 100%;

    @media(max-width: 1155px) {
    	height: 66px;
    	line-height: 66px;
    	font-size-em(20px)
    }
}

.retailers__hightlight_block__desc {
	color: #4b4b4b;
    font-size-em(20px);
    line-height: 1.5;
    // padding: 31px 30px;
    padding: 20px;
    text-align: center;
    width: 100%;

    @media(max-width: 1155px) {
    	font-size-em(16px)
    }
}

// .retailers__hightlight_last_block {
// 	width 100%

// 	.retailers__hightlight_last_block__title {
// 		width 100%
// 		background-color #7cebe1
// 	}

// 	.retailers__hightlight_last_block__desc {
// 		width 100%
// 		background-color #6ed6ce
// 	}
// }

#retailers-why {
	padding-top: 350px;
	padding-bottom 150px;

	.section__holder {
		> h1 {
			margin-bottom: 14px;
		}

		> h2 {
			margin-bottom: 62px;
		}

		> p {
			text-align center;
			margin-bottom: 85px;
		}
	}
}

.retailers__why_blocks {
	width 100%
	max-width: 730px;
	display flex;
	flex-wrap: wrap;
	justify-content center;
	align-items: stretch;
	align-content: stretch;
	margin: 0 auto;
	margin-bottom 100px;
}

.retailers__why_block {
	margin: 10px;
	min-height: 230px;
    background-color: white;
    width: auto;
    flex: 0 0 210px;
}

.retailers__why_block__title {
	color: $logo-grey;
    font-size: 235%;
    height: 88px;
    line-height: 2.2;
    padding: 0;
    text-align: center;
    width: 100%;
}

.retailers__why_block__desc {
	padding-top: 28px;
	padding-left: 17px;
	padding-right: 17px;
	color: $logo-grey;
    line-height: 1.5;
    text-align: center;
    width: 100%;
}

.retailers-why-logos {
	width 100%
	text-align center;
	margin-bottom 100px

	.retailers-why-logo-block {
		display: inline-block;
	    margin-bottom: 64px;
	    margin-left: 8%;
	}
}

.retailers-join-us-container {
	position: relative;
	top: 400px;
	max-width: 1240px;
	margin: 0 auto;

	&__first-wrapper {
		width: 100%;
		padding: 0 17px;

		> h2 {
			margin-bottom: 50px;
		}
	}

	&__text-container {
		padding: 0 17px;
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 30px;

		p {
			text-align: center;
		}
	}
}

.tablet .retailers {
	// Header
	.full-page-header-content {
	    h1 {
	        font-size: 65px;
	        line-height: 1.2;
	        word-spacing: 1.5px;
	    }

	    h3 {
	        top: 17px
	    }
	}

	// WHERE TO BUY SOLUTIONS
	.retailers-section__top_section .retailers-intro-cols {
		margin-bottom: 43px;
		p {
			margin-bottom: 20px;
		}
	}

	//

	.section__holder {
		padding: 0 $tablet-gutter
	}
	.brands-list,
	.retailers__hightlight_blocks {
		padding: 0;
	}
	.retailers__hightlight_block {
		height: auto;
		width: auto;
		flex-basis: calc(50% - 12px)
	}

	.retailers__hightlight_block__title {
		font-size: 20px;
	}

	// Quote
	.partners__content__quote {
	    margin: 0;
	    min-height: auto;

		.quote_content_holder {
			background-position: 12px 1.9%;
			width: 80%;
		}

	    blockquote {
	        font-size: 15px;
	        line-height: 1.2;
	        margin-bottom: 10px;
	    }
	    .quote-name,
	    .quote-date {
	        font-size: 15px;
	        font-weight: normal
	    }
	}

	// Why use hatch

	.retailers__why_block {
		width: 20%;
	}

	// Join us
	.retailers-join-us-container {
		padding-bottom: 200px;

		.retailers-join-us-container__first-wrapper {
			padding: 0 $tablet-gutter
		}

		.retailers-why-logo-block {
			margin: 15px 30px;
		}
	}

	// footer
	.footer {
	    margin-top: 116px
	}
}
