.where-to-buy-solutions {
	.section__pattern--4 {
		@media(min-width: 1545px) {
			top: -136px;
		}
	}
}

.solutions {


	background-color: #6EDCD4;
	//background-image: url("../assets/images/GUIDE_solutions_mobile.png");
	//background-repeat: no-repeat;
	//background-position: 50% 0px;
	text-align: center;
	padding: 200px 0 290px;  //254


	&__content{
		//padding: 0 20px;

		&__wrap {
			width: 100%;
			height: 100%;
			position: absolute;
			padding: 40px 40px;
			background: white;
		}

		&--who {

			.solutions__content__wrap {
				padding: 20px 40px;
			}
			.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
				margin: 0 35px;
			}

			.solutions__content__card {
				.solutions__content__card__top {
					background-image: url('../assets/images/solutions/ico_agencies.svg');
				}


				&--left {
					.solutions__content__card__top {
						background-image: url('../assets/images/solutions/ico_brands.svg');
					}
				}

				&--right {
					.solutions__content__card__top {
						background-image: url('../assets/images/solutions/ico_retailers.svg');
					}
				}
			}

			.solutions__content__card__top {
				background-size: 140px 220px;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		&--how {

			.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
				margin: 0 40px;
			}

		}


		&__title{
			color #4b4b4b;
			margin: 0 0 15	px;
			font-size-em(20px)
		}

		&__text{
			color #4b4b4b;
			//font-size 18px;
			font-size-em(13px);
			letter-spacing -0.01em;
			line-height: 12pt;
		}

		&__card{
			display inline-block;
			vertical-align: top;
			position relative;
			width 260px;
			height 460px;
			margin-bottom 40px;
			background white;


			border-radius(3px);

			opacity: 0;
			visibility: hidden;
			transform: translate(0, 150px);



			&--left{
				//float left;
			}

			&--right{
				//float right;
			}

			&__top{
				height 220px;
				overflow hidden
				background-color #7cebe1;
				border-radius(3px 3px 0  0);
			}

			&__bottom{
				padding 33px 20px 0px;
			}
		}

		&__block_wrap_who{
		  position:relative;
		  height:400px;
		}


		&__block_wrap_how{
		  position:relative;
		  height:580px;
		}


		&__block{
			display: inline-block;
			width: 100%;
			height: 400px;
			background-color:white;
			//height auto
			//padding 20px 40px
			border-radius(3px);
		  	visibility :hidden;
			position: relative;


			transform-origin: top center;

			overflow: hidden;

			&--tablet {
				display: none;
			}

			&--how {
				padding 0px;
				height: 580px;
			}


			&__trigger {
				cursor: pointer;
			}

			&__cache {
				width: 100%;
				height: calc(100% - 20px);
				background: white;
				position: absolute;
				top: 20px;
				z-index: 50;

				if debug{
					display none
				}

				&--right {
					right: 0px;
				}

				&--left {
					left: 0px;
				}

			}


			&__column{
				position relative;
				width 48%;
				height 100%;
				display inline-block;
				border-radius(3px);
				overflow visible;

				.solutions__content__title{
					margin 16px 0 15px;
					//font-size 29px;
					font-size-em(30px);
				}

				.solutions__content__text{
					letter-spacing: -0.016em;
					line-height: 1.67em;
				}

				&--left{
					float left;
					text-align left;

					.solutions__content__text{
						margin-bottom 70px;
						min-height: 230px
						overflow: hidden;
  						text-overflow: ellipsis;
					}
				}

				&--right{
					float right;

					.section__bigbtn{
						border-radius(0px 0px 3px 3px);
					}
				}


				li{
					width: 100%;
					height: 60px;
					list-style: outside none none;
					//font-size 18px;
					font-size-em(18px);
					line-height 61px;
					position: relative;

					// &:before {
					// 	content: "";
					// 	position:absolute;
					// 	top: 0;
					// 	left: 0;
					// 	width: 100%;
					// 	height: 100%;
					// 	transform-origin: center center;
					// 	transform: scale(0, 1);
					// 	transition: transform .2s ease-in;
					// 	background-color: $orange;
					// }

					// &:hover {
					// 	&:before {
					// 		transition: transform .2s ease-out;
					// 		transform: scale(1, 1);
					// 	}
					// }


				}

				li:nth-child(even){
					background-color #f6f6f6;
					transition: background-color .2s ease-out, color .2s ease-out;

					&:hover {
						background-color #d6d6d6;
					}

					&.selected {
						background-color #6b6b6b;
						color: white
					}
				}

				li:nth-child(odd){
					background-color #e5e5e5;
					transition: background-color .2s ease-out, color .2s ease-out;
					&:hover {
						background-color #c5c5c5;
					}

					&.selected {
						background-color #6b6b6b;
						color: white
					}
				}

				li:nth-child(1){
					background-color #4b4b4b;
					//font-size 24px;
					font-size-em(24px);
					font-family: font_bold;
					color white;

					&:hover {
						background-color #4b4b4b;
					}

				}


			}


		}
		&--who {
			.solutions__content__column {
				&__wrap {
					position: relative;
					width: 48%;
					height: 100%;
					overflow: hidden;
					float: left;
				}

			}
			.solutions__content__block__column {
				&--left {
					width: 100%;
					position: absolute;
					left: 0;
				}
			}
		}

		&__gallery{
			height 100%;
			overflow: hidden;

			&__img {
				position: relative;
				height: 100%;
				ul, ul li {
					height: 100%;
				}

				li {
					position: absolute;
					background-size: cover;
					&:first-child{
						z-index: 10;
					}
				}
			}

			&__cover {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				z-index: 30;
				overflow: hidden;
				cursor: pointer;

				// &__cache {
				// 	width: 140%;
				//     height: 150%;
				//     position: absolute;
				//     //top: -43%;
				//     //left: 15%;
				//     background-color: rgba(0,0,0,0.6);
				//     transform-origin: center;
				//     transform: translate(-20%, -25%);
				//     //transform: rotate(50deg) scale(0, 1);
				// }

				svg:first-of-type {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					polygon {
						fill: rgba(0,0,0,0.6);
					}
				}

				svg:nth-of-type(2) {
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 139px;
					height: 85px;

					opacity: 0;
					visibility: hidden;

					transform: translate(-10%, -10%);

					path {
						fill: #FFFFFF;
					}
				}


			}

			&__navi {
				position: absolute;
				z-index: 40;
				bottom: 0;
				width: 100%;

				li {
					display: inline-block;
					width: 20px;
					height: 20px;
					border: 3px solid white;
					border-radius: 50%;
					margin: 10px;
					// TODO: Avoid Important
					background-color: white !important;
					cursor: pointer;

					&.active {
						// TODO: Avoid Important
						background-color: #ff805a !important;
					}
				}
			}
		}
	}

	.section__arrow {
		margin-top 107px;

	}
}

.section {
	&__holder {
		&--solutions {
			.section__header__subtitle--single{
				margin-top: 106px;
				margin-bottom: 52px;
				//padding: 0 20px;
			}
		}
	}

	&__header {
		&--solutions {
			margin-bottom: 52px;
		}
	}

}

// .tablet {
//     .where-to-buy-solutions {
// 		.section {
// 			&.pricing {
// 				padding-top: 220px;
// 				padding-bottom: 170px;
// 				.section__pattern--4 {
// 					top: -12px;
// 					height: auto;
// 					.section__pattern__part--top {
// 						height: auto;
// 						background-image: url(../assets/images/pattern/pattern_4_top.svg), url(../assets/images/pattern/pattern_4_bottom.svg);
// 						background-size: 100%, 100%;
// 						background-position: center bottom 94%, center bottom;
// 						@media screen and (min-width: 900px) {
// 							background-position: center bottom 93.5%, center bottom;
// 						}
// 						&:after {
// 							content: '';
// 							display: block;
// 							padding-bottom: 26.1%;
// 						}
// 					}
// 					.section__pattern__part--bottom {
// 						display: none;
// 					}
// 					&:after {
// 						content: '';
// 						display: block;
// 						padding-bottom: 26.1%;
// 					}
// 				}
// 				.section__holder {
// 					max-width: 550px;
// 					.section__header {
// 						&__title {
// 							font-size: 16px;
// 							line-height: 1;
// 							margin-bottom: 0;
// 						}
// 						&__subtitle {
// 							font-size: 12px;
// 							span {
// 								&:before, &:after {
// 									margin: 0 10px;
// 								}
// 							}
// 						}
// 					}
// 					.pricing__content {
// 						padding: 0;
// 						#rpt_pricr {
// 							div:nth-child(1) {
// 								justify-content: space-between;
// 							}
// 						}
// 						.rpt_plans .rpt_plan {
// 							width: 115px;
// 							margin: 0;
// 							.rpt_title {
// 								font-size: 15px;
// 								padding-top: 10px;
// 							}
// 							.rpt_price {
// 								padding-bottom: 15px;
// 							}
// 							.rpt_recurrence {
// 								width: 100%;
// 								top: 40px;
// 							}
// 							.rpt_description {
// 								height: 30px;
// 								line-height: 30px;
// 								padding: 0;
// 							}
// 							.rpt_recurrence, .rpt_description, .rpt_foot {
// 								font-size: 12px;
// 							}
// 							.rpt_feature {
// 								font-size: 10px;
// 								line-height: 1.2;
// 								padding: 14px 0;
// 							}
// 							.rpt_foot {
// 								height: 30px;
// 								padding: 0;
// 							}
// 						}
// 					}
//                     .disclaimer {
// 						p {
// 							font-size: 12px;
// 							line-height: 1.5;
// 							br {
// 								display: none;
// 							}
// 						}
//                     }
// 				}
// 			}
//         }
// 		.section__separators {
// 			.section__arrow {
// 				top: -155px;
// 				&__bg {
// 					background-size: 70%;
// 				}
// 				span {
// 					font-size: 10px;
// 				}
// 			}
// 			.section__pattern--5 {
// 				top: -100px;
// 				height: 230px;
// 				.section__pattern__part--top {
// 					height: auto;
// 					background-image: url(../assets/images/pattern/pattern_5_top.svg), url(../assets/images/pattern/pattern_5_bottom.svg);
// 					background-size: 100%, 100%;
// 					background-position: center bottom 94%, center bottom;
// 					@media screen and (min-width: 900px) {
// 						background-position: center bottom 93.5%, center bottom;
// 					}
// 					&:after {
// 						content: '';
// 						display: block;
// 						padding-bottom: 26.1%;
// 					}
// 				}
// 				.section__pattern__part--bottom {
// 					display: none;
// 				}
// 			}
// 		}
//     }
// }

.tablet {
    .where-to-buy-solutions {
		.pricing__content {
			padding-left: 0;
			padding-right: 0;
		}
        .rpt_plans {
			.rpt_plan {
				width: 48%;
			}
			.rpt_features {
				font-size: 16px;
			}
        }
		.disclaimer {
			br {
				display: none;
			}
		}

	    .rpt_4_plans .rpt_plan .rpt_features .rpt_feature {
			height: 80px;
	    }

	    .pricing__content .rpt_plans .rpt_plan {
	    	margin-bottom: 4%;
	    }
    }
}

.mobile {
	.solutions {
		padding: 140px 0 100px;  //254

		.section__content:not(.section__arrow) {
			opacity: 1;
			visibility: visible;
		}

		.section__holder  {
			// top: 0 !important;
		}

		.section__smallbtn.selected {
			background: #4D4D4D;
		}

		&__content {

			&__wrap {
				position: initial;
			}
			&__card {
				opacity: 1;
				visibility: visible;
				transform: none;
			}

			&__block {
				transform: none;
				visibility: visible;
				margin-bottom: 20px;

				&__cache {
					display: none;

				}

				&__column{

					&--left{
						float none;
					}

					&--right{
						float none;
					}

					li:nth-child(even){
						background-color #f6f6f6;

						&.hover {
							background-color #f6f6f6;
						}

						&.selected {
							background-color #6b6b6b;
							color: white
						}

					}

					li:nth-child(odd){
						background-color #e5e5e5;
						&.hover {
							background-color #e5e5e5;
						}

						&.selected {
							background-color #6b6b6b;
							color: white
						}
					}

					li:nth-child(1){
						background-color #4b4b4b;

						&:hover {
							background-color #4b4b4b;
						}

					}
				}
			}

			&--who {
				min-height: 1070px;
				.solutions__content__wrap {
					margin-bottom: 40px;
				}
			}

			&--how {

				min-height: 1060px;
			}

			&__gallery{
				&__cover {
					display: none !important;
				}
			}

		}



	}
}

.tablet {
	.section__smallbtn.selected {
		background: #4D4D4D;
	}

	.solutions {


		&__content {



			&__block {


				&__column{



					li:nth-child(even){
						background-color #f6f6f6;

						&.hover {
							background-color #f6f6f6;
						}

						&.selected {
							background-color #6b6b6b;
							color: white
						}

					}

					li:nth-child(odd){
						background-color #e5e5e5;
						&.hover {
							background-color #e5e5e5;
						}

						&.selected {
							background-color #6b6b6b;
							color: white
						}

					}

					li:nth-child(1){
						background-color #4b4b4b;

						&:hover {
							background-color #4b4b4b;
						}

					}
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.solutions {
		padding: 165px 0 250px;

		&__content{
			//padding: 0 20px;



			&__title{
				font-size-em(20px);
			}

			&__block{

				&__column{

					.solutions__content__title{
						font-size-em(20px);
					}

					li{
						font-size-em(16px);
					}

					li:nth-child(1){
						font-size-em(20px); //
					}
				}
			}

			// &__card{
			// 	width: 330px;
			// 	height: 445px;
			// }

			&--who {

				.solutions__content__card__top {
					background-size: 93px 147px;
				}
			}

			&--how {

				.solutions__content__card__top {
					background-size: 93px 147px;
				}
			}

			&__text{
				color #4b4b4b;
				//font-size 18px;
				font-size-em(16px);
				line-height 1.3em;
				letter-spacing -0.01em;
			}


		}
	}
}

@media screen and (max-width: 1200px) {
	.solutions {
		&__content{
			&--who {

				.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
					margin: 0 6px;
				}
			}

			&--how {

				.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
					margin: 0 6px;
				}
			}
		}
	}
}


@media screen and (max-width: 1140px) {
	.solutions {
		&__content{
			&--who, &--how {

				.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
					margin: 0 3%;
				}
			}

			&--how {

				.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
					margin: 0 3.5%;
				}
			}
			&__card{
				width 31%;
				height 450px;

				&__top{
					img {
						height 220px
					}
				}
			}
		}
	}
}



@media screen and (max-width: 1024px) {
	.solutions {
		&__content{


			&__title{
				margin: 0 0 10px;
				font-size-em(18px);
			}


			&__text{
				font-size-em(14px);
			}

			&__card{
				width 31%;
				height 340px;

				&__top{
					height 140px;

					img {
						height 140px
					}
				}

				&__bottom{
					padding 12px 20px 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 866px) {
	.solutions {
		&__content{
			&--who {

				.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
					margin: 0 2.7%;
				}
			}

			&--how {

				.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
					margin: 0 3.5%;
				}
			}
		}
	}
}

@media only screen and (max-width : 850px){
	.solutions {

		&__content{


				&--who {

					.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
						margin: 0 0 45px 0;
					}

					.solutions__content__column {
						&__wrap {
						}

					}
					.solutions__content__block__column {
						&--left {
							width: 100%;
							position: relative;
							left: 0;
						}
					}
				}

				&--how {

					.solutions__content__card:not(.solutions__content__card--left):not(.solutions__content__card--right) {
						margin: 0 0 45px 0;
					}
				}

			&__card{
				width 100%;
				height 280px;
			}

			&__block{
				height: auto;
				padding 20px 20px


				&__column{
					.solutions__content__title{
						margin 0px 0 15px; //
						font-size-em(18px); //
					}

					&--left{

					}

					&--right{

					}

					li{
						width: 100%;
						height: 60px;
						font-size-em(14px);
						line-height 61px;
					}

					li:nth-child(1){
						font-size-em(18px); //
					}
				}
			}

			&__gallery{


				&__img {
					position: initial;
					ul, ul li {
						height: 100%;
					}

					li {
						position: absolute;
						&:first-child{
							z-index: 10;
						}
					}
				}


				&__navi {


					li {
						display: inline-block;
						width: 20px;
						height: 20px;
						border: 3px solid white;
						border-radius: 50%;
						margin: 10px;
						// TODO: Avoid Important
						background-color: white !important;
						cursor: pointer;

						&.active {
							// TODO: Avoid Important
							background-color: #ff805a !important;
						}
					}
				}
			}
		}
	}

	.section {
		&__header {
			&--solutions {
				margin-bottom: 32px;
			}
		}

	}

	.solutions {
		&__content{
			&__block_wrap_who, &__block_wrap_how {
				display: none;
			}
			&__block{
				&--desktop {
					display: none;
				}

				&--tablet {
					display: block;
				}
			}
		}
	}

	.solutions {
		padding: 140px 0 100px;  //254

		.section__content:not(.section__arrow) {
			opacity: 1;
			visibility: visible;
		}

		.section__holder  {
			// top: 0 !important;
		}

		.section__smallbtn.selected {
			background: #4D4D4D;
		}

		&__content {

			&__wrap {
				position: initial;
			}
			&__card {
				opacity: 1;
				visibility: visible;
				transform: none;
			}

			&__block {
				transform: none;
				visibility: visible;
				margin-bottom: 20px;

				&__cache {
					display: none;

				}

				&__column{

					&--left{
						float none;
					}

					&--right{
						float none;
					}
				}
			}

			&--who {
				min-height: 950px;
				.solutions__content__wrap {
					margin-bottom: 40px;
				}
			}

			&--how {

				min-height: 1060px;
			}



			&__block{
				padding: 0 0 0px 0;

				&__column{
					width 100%;

					.solutions__content__title{
						text-align center
					}

					&--left{
						margin-bottom 20px

						.solutions__content__text{
							min-height 130px
						}
					}

					&--right{
						.section__bigbtn{
							bottom -40px
						}
					}

				}

				&--how{
					padding-bottom 0px;


				}
			}

			&__gallery{

				height 100%;
				min-height 280px;
				position: relative;

				&__img {

					ul, ul li {
						height: 100%;
					}

					li {
						position: absolute;
						&:first-child{
							z-index: 10;
						}
					}
				}

				&__navi {


					li {
						display: inline-block;
						width: 20px;
						height: 20px;
						border: 3px solid white;
						border-radius: 50%;
						margin: 10px;
						// TODO: Avoid Important
						background-color: white !important;
						cursor: pointer;

						&.active {
							// TODO: Avoid Important
							background-color: #ff805a !important;
						}
					}
				}
			}

		}

	}

	.section {
		&__holder {
			&--solutions {
				.section__header__subtitle--single{
					margin-top: 55px;
					margin-bottom: 37px;
				}
			}
		}
	}

}



@media only screen and (max-width : 750px){
	.solutions {
		padding: 224px 0 118px;

		&__content{

			&__wrap {
				padding: 20px 20px;
			}

			&--who {
				.solutions__content__wrap {
					padding: 20px 20px;
				}

				min-height: 1060px;
			}

			&--how {
				min-height: 1190px;
			}

			&__card{
				height 320px;
			}

			&__block{
				padding: 0 0 0px 0;

				&__column{
					width 100%;

					.solutions__content__title{
						text-align center
					}

					&--left{
						margin-bottom 20px

						.solutions__content__text{
							min-height 130px
						}
					}

					&--right{
						.section__bigbtn{
							bottom -40px
						}
					}

					li{
						height: 40px;
						font-size-em(14px);
						line-height 41px;
					}

					li:nth-child(1){
						font-size-em(16px);
					}
				}

				&--how{
					padding-bottom 20px;
				}
			}

			&__gallery{

				height 100%;
				min-height 280px;
				position: relative;

				&__img {

					ul, ul li {
						height: 100%;
					}

					li {
						position: absolute;
						&:first-child{
							z-index: 10;
						}
					}
				}

				&__navi {


					li {
						display: inline-block;
						width: 20px;
						height: 20px;
						border: 3px solid white;
						border-radius: 50%;
						margin: 10px;
						// TODO: Avoid Important
						background-color: white !important;
						cursor: pointer;

						&.active {
							// TODO: Avoid Important
							background-color: #ff805a !important;
						}
					}
				}
			}
		}
	}


	.section {
		&__holder {
			&--solutions {
				.section__header__subtitle--single{
					margin-top: 55px;
					margin-bottom: 37px;
				}
			}
		}
	}
}
