.intro-shape {
	// &--0 {
	// 	stroke-dashoffset: 38;
	// 	stroke-dasharray: 38;
	// }
	
	// &--1 {
	// 	transform: scaleX(0);	
	// }
	
	// &--2 {
	// 	stroke-dashoffset: 490;
	// 	stroke-dasharray: 490;
	// }
		
	////////////////////////////////// Circles /////////////////////////////////////
	if !debug{		
		&--0 {
			//transform: rotate(180deg);		
			//transform-origin: 50% 50%;	
		}
		&--4 {
			//transform: rotate(90deg);		
			//transform-origin: center center;	
		}
		&--6 {
			//transform: rotate(180deg);		
			//transform-origin: center center;
		}
		
		////////////////////////////////// Paths /////////////////////////////////////
		
	}
	
	
}

// Texts

.intro__steps {
  .intro__steps__ico {
	.animation_ver2{
		position:absolute;
	  	opacity:.8;
	  	pointer-events:none;

	}
  }
}
.mobile {
	.intro-shape {
		&--path {
			opacity: 1;
			visibility: visible;
		}
		
		.section__content {		
			opacity: 1;
			visibility: visible;
		}
	}
	
	.intro__steps__text {
		if !debug{
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}

