// //////////////////////////////////////
// TODO
// This file already exists in views/
// Check differences and merge together
// //////////////////////////////////////




// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
// 	.integration__steps__item--ico {
// 		img{
// 			transform scale(0.8)
// 		}
		
// 	}
// 	.integration__steps__item--txt {
// 		i {
// 			padding-left 40px	
// 		}
		
// 	}
// 	.integration__steps__item--start, .integration__steps__item--end {
// 		i {
// 			margin-left 71px
// 		}
// 	}
// }

// .brands-section {
// 	background-color: white;
// 	overflow visible
// 	min-height: auto;
// 	padding-bottom: 333px;
// 	color: #4b4b4b
	
	
	
	
// 	> .section__holder {
// 		p {
// 			padding: 0 30px;
// 		}
		
// 		.brands-list {
// 			padding: 0 17px;
// 		}
// 	}

// 	&.brands-section-green {
// 		background-color #6edcd4;
// 		color: white;
		
// 		.step-number {
// 			background-color white;
// 			color: #6edcd4;	
// 		}
// 	}
	
// 	.section__smallbtn {
// 		left: 50%;
// 		transform: translateX(-50%);
		
// 		&:hover {
// 			span {
// 				&:after {
// 					transform scaleY(1);
// 				}
// 			}
// 		}
		
// 		&:after {
//             background-color: $logo-grey;
//             transform-origin: bottom;
//         }
// 	}
	
// 	.section__smallbtn--blue {
//         background-color: $blue;
        
//         &:after {
//         	background-color: $orange;
//         }
        
//         span {
//             top: 0;
//             // line-height: 55px;
//         }
//     }
	
// 	// &:not(.brands-section-green) {
// 		.section__arrow {
// 			color #4b4b4b
// 		}
// 	// }
	
// 	.section__holder {
// 		margin-top: 35px;
// 		max-width: 1240px;
		
// 	}
	
// 	h1 {
// 		text-transform: uppercase;
// 		width 100%
// 		text-align: center;
// 		color inherit;
// 	}
	
// 	h2 {
// 		text-align: center;
// 		color inherit;
// 	}
	
// 	.step-number {
// 		background-color #4f4f4f;
// 		width 30px
// 		height 30px
// 		border-radius 50%;
// 		display inline-block
// 		text-align center;
// 		color white
// 		font-weight: light;
// 		margin-right: 6px;
		
// 		@media (max-width 750px) {
// 			border-radius: 50%;
// 		    color: #fff;
// 		    display: inline-block;
// 		    height: 20px;
// 		    line-height: 1.8;
// 		    margin-right: 6px;
// 		    text-align: center;
// 		    width: 20px;
// 		}
// 	}
	
// 	p {
// 		color inherit;
// 	}
	
// 	.our_solution__hightlight_blocks {
// 		margin-bottom: 14px;
// 	}
	
// 	.our_solution__hightlight_block {
// 		height: 230px;
		
// 		@media(max-width: 750px) {
// 			width: 100%;
// 		}
// 	}
	
// 	.our_solution__hightlight_block__title {
// 		font-weight: bold;
// 	}
	
// 	.our-solution .section__holder > h2 {
//         font-size: 24px;
//         padding-left: 17px;
//         padding-right: 17px;
        
        
//     }
    
//     .section__holder{
//         p {
//         	span {
// 				font-weight 900
//         	}
//         }
//     }
    
//     .our_solution__hightlight_block__desc {
//         font-size-em(16px)
//         line-height: 20pt;
        
//         @media(max-width: 925px) {
//         	font-size-em(14px)
//         	line-height: 20px;
//         }
//     }
// }

// .brands {
	
// 	.section__arrow span {
// 		color #4b4b4b;
// 	}
	
// 	.section__arrow__bg.white {
// 		background-image: url('../assets/images/arrow_animation_sprite_grey_single.png');
// 	}
	
// 	#section_contact .section__holder {
// 		overflow: hidden;
//     	// padding-bottom: 130px;
// 	}
	
// 	.footer {
// 		margin-top 0
// 	}
// }

// .brands-section__top_section {
// 	h1 {
// 		margin-bottom 52px;
// 	}
	
// 	h2 {
// 		margin-bottom 26px
// 	}
	
// 	.section__holder > p {
// 		text-align center;
		
// 		&:first-of-type {
// 			margin-bottom 118px;
// 			width: 80%;
// 		    left: 0;
// 		    right: 0;
// 		    margin: auto;
			
// 		}
		
// 		&:last-of-type {
// 			margin-bottom 78px;
// 		}
// 	}
	
// 	.brands-top__big-image {
// 		display block
// 		margin 0 auto;
// 		margin-bottom: 70px;
// 		width 50vh
// 		max-width: 688px;
		
// 	}
	

// 	.partners__content__quote {
// 		margin 0 17px
// 		margin-bottom 0;
// 		background-color #ff825a;
// 		max-width 1206px;
// 		padding-bottom: 12px;
// 		padding-top: 12px;
// 		padding-left: 12px;
//     	border-radius: 2px;
    	
//     	p {
//     		padding 0
//     	}

// 		.quote_content_holder,
// 		.quote-name {
// 			color white;
// 		}
		
// 		.quote_content_holder {
// 			@media(max-width: 1185px) {
// 	    		width: 70%;
// 	    	}
	    	
// 	    	@media(max-width: 750px) {
// 	    		width: 100%;
// 	    	}
// 		}
		
// 		.quote_image_holder {
// 			width: 19%;
			
// 			@media(max-width: 1185px) {
// 	    		width: 30%;
// 	    	}
	    	
// 	    	@media(max-width: 750px) {
// 	    		width: 100%;
// 	    	}
// 		}
		
// 		.quote_content_holder {
// 			font-size: 98.3%;
// 			background-position: 12px 11.9%;
// 			padding-left: 46px;
// 			padding-top: 22px;
// 			background-image: url("../assets/images/img-quote-up-white.png");
			
// 			blockquote {
// 				font-size-em(18px)
// 			}
// 		}
				
// 		.quote-date:after {
// 			background-image: url("../assets/images/img-quote-down-white.png");
// 		}
// 	}
		
// 	.our_solution__hightlight_block {
// 		background-color #f4f4f4
// 		color #4b4b4b
// 	}
// }

// .brands-list {
// 	width 100%
// 	color white
// 	margin-bottom: 38px;
// }

// .brands-list-title {
// 	background-color: #7cebe1;
// 	font-size: 132%;
// 	min-height: 87px;
// 	padding-top: 28px;
// 	text-align: center;
// 	width: 100%;
// 	font-weight: bold;
// }

// .brands-list-items {
// 	background-color: $normal-green;
// 	ul {
// 		list-style: disc
// 		padding: 20px 18% 27px 16%;
		
// 	}
	
// 	li {
// 		font-size: 108%;
// 	}
// }

// .brands-section__step_section {
		
// 	.integration__steps {
// 		margin-left auto;
// 		margin-right auto;
// 		width: 70%;
// 	}
	
// 	.integration__steps__item--start, 
// 	.integration__steps__item--end {
// 		text-align center;
// 		color white
// 		width: 300px;
		
// 	}
	
// 	.integration__steps_icons {
// 		background-color #6edcd4;
// 		transform: scale(0.7);
// 	}
	
// 	.integration__steps_icons {
// 		margin-left: 70px;
// 	}
	
// 	.integration__steps__item--txt span {
// 		color whitew
		
// 		@media(max-width 850px) {
// 			font-size 100%
// 			margin-right: 10px;
// 		}
// 	}
	
// 	.integration__steps__item--start, 
// 	.integration__steps__item--end {
// 		@media(max-width 850px) {
// 			width: 31%;
// 		}
// 	}
// }

// #brand-step1,
// #brand-step2,
// #brand-step3,
// #brand-step4 {
// 	padding-top 350px

// 	.section__pattern {
// 		display block
// 		top: -170px;
// 	}
// }

// #brand-step1 {
// 	padding-bottom 170px
	
// 	.integration__steps__item--txt {
// 		@media (max-width: 1110px) {
// 			// line-height: 158px;
// 		    padding: 0 0 0 30px;
// 		    text-align: left;
// 		    width: 67%;
// 		}
		
// 		@media (max-width: 1057px) {
// 			width: 59%;
// 			padding-left 0
// 		}
		
// 		@media (max-width: 1020px) {
// 			width: 39%;
// 		}
// 	}
	
// 	.integration__steps__item--bullet {
// 		@media (max-width: 1057px) {
// 			padding 0 71px 0 0;
// 		}
// 	}
// }

// .brands-step2__content {
// 	overflow: hidden;
//     padding: 87px 8% 40px 5%;
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     align-items center;

// 	p {
// 		width 60%;
// 		float left
// 		padding-right: 9%;
// 		font-size-em(15px)
// 		line-height: 20px;
// 	}
	
// 	img {
// 		display block
// 		width 100%
// 		max-width: 339px;
// 		float left
// 		box-shadow: 1px 1.732px 27px 0px rgba(0, 0, 0, 0.17);
// 	}
// }

// #brand-step3 {
	
// 	h2 {
// 		margin-bottom: 40px;
// 	}

// 	.section__holder > p {
// 		text-align center;
// 		margin-bottom 118px
// 	}
	
// 	.section__holder > img {
// 		display block
// 		width 100%
// 		margin: 0 auto;
//     	width: calc(100% - 21px);
// 		margin-bottom 150px
// 	}

// }

// .brand-step3__block {
// 	width 100%
// 	background-color #fff
// 	color white
// 	margin-bottom: 15px;
// }

// .brand-step3__block_title {
// 	background-color: #7cebe1;
//     font-size-em(24px)
//     min-height: 114px;
//     padding-top: 42px;
//     text-align: center;
//     font-weight: bold;
//     width: 100%;
// }

// .brand-step3__block_content {
// 	display: flex;
// 	justify-content: center;
// 	padding-top: 58px;
// 	font-size-em(20px)
	
// 	font-family: 'Akkurat-Bold-web';

// 	ul {
// 		list-style: inside disc;
// 		padding-bottom: 52px;
// 	}
	
// 	li {
// 		color #4b4b4b
// 		font-size-em(15px)
// 		// margin-bottom 6px
// 	}
// }

// .brand-step3_logos {
// 	width 100%
// 	float none
// 	background-color white
// 	overflow: hidden;
// 	display: flex;
// 	flex-wrap: wrap;
// 	padding-bottom 45px
// }

// .brand-step3_logo_block {
// 	float left;
// 	flex-grow: 1;
// 	min-width: 200px;
// 	margin-bottom 20px
	
// 	img {
// 		display block
// 		margin: 0 auto 48px;
// 	}
	
// 	span {
// 		width 100%
// 		text-align: center;
// 		color #4b4b4b
// 		display: block;
// 		font-size: 95%;
//     	// letter-spacing: 1px;
//     	white-space: nowrap;
//     	font-family: 'Akkurat-Bold-web';
// 	}
// }

// #brand-step4 {
	
// 	h2 {
// 		margin-bottom: 40px;
// 	}

// 	.section__holder > p {
// 		text-align center;
// 		margin-bottom 82px
// 	}
	
// 	.integration__cards {
// 		text-align center;
// 		display: flex;
// 		width: 100%;
// 		justify-content: space-around;
// 		margin-bottom: 100px;
// 	}
	
// 	// .integration__cards__card {
// 	// 	width 250px
// 	// }
	
// 	.integration__companies {
// 		text-align center
// 	}
// }

// .brand-step4_highlights {
// 	width 100%
// 	display flex;
// 	flex-wrap: wrap;
// 	justify-content space-around;
// 	align-items: stretch;
// 	align-content: stretch;
// 	margin-bottom 100px
// }

// .brand-step4_highlight_block {
// 	width 200px
// 	margin: 10px
// 	min-width: 260px;
// 	background-color #f4f4f4;
// }

// .brand-step4_highlight_block__title {
// 	background-color: #7cebe1;
//     color: #fff;
//     font-size-em(20px);
//     height: 82px;
//     line-height: 1.2;
//     padding: 12px 42px 0;
//     text-align: center;
//     width: 100%;
// }

// .brand-step4_highlight_block__desc {
// 	color: #4b4b4b;
//     font-size-em(15px);
//     line-height: 1.2;
//     padding: 23px 20px;
//     text-align: center;
//     width: 100%;
// }

