.cookie-policy {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
        font-family: font;
        font-size: 14px;
        line-height: 1.2;
        margin-right: 50px;
        max-width: 800px;
    }
    &__button {
        background-color: $orange;
        color: white;
        border-radius: 2px;
        padding: 5px 20px;
        cursor: pointer;
    }
}

.tablet {
    .cookie-policy {
        padding: 0 20px;
    }
}

.mobile {
    .cookie-policy {
        height: 120px;
        padding: 0 20px;
        &__text {
            font-size: 10px;
        }
        &__button {
            font-size: 12px;
        }
    }
}
