.disclaimer {
	background-image: url("../assets/images/intro/intro_bcg.jpg");
	background-size: cover;

	.section__holder {
		padding-top: 170px;
	}

	&__content{
		padding-top: 300px;
		width: calc(100% - 40px);
		max-width 1200px
		height: auto;
		border-radius(3px)
		//position absolute
		margin auto
		top 0
		bottom 0
		right 0px
		left 0px
		text-align justify
		padding 80px 80px
		background-color white
		font-size-em(18px);
		color #4b4b4b
		overflow auto


		h1{
			font-family: font_bold;
			font-size-em(36px);
			color #4b4b4b
			line-height 36px
			margin-bottom 40px
			text-align center
		}

		h2{
			font-family: font_bold;
			color #ff805a
			font-size-em(24px);
			line-height 28px;
			height: 28px;
			margin 40px 0px 15px

			span::before, span::after {
				display: none;
			}
		}

		h3{
			font-family: font_bold;
			color #ff805a
			font-size-em(24px);
			line-height 24px
			margin 40px 0px 15px
		}

	}
}

.disclaimer.section {
	.section__header {
		margin-bottom: 0;
	}
}

.mobile {
	.disclaimer {
		.section__pattern--6 {
			display: none;
		}

		.section__holder {

			padding: 70px 20px 75px 20px;
		}

		&__content{
			padding: 50px 30px;
			width: 100%;
			height: auto;
			border-radius(3px)
			//position absolute
			margin auto
			top 0
			bottom 0
			right 0px
			left 0px
			text-align justify
			//padding 80px 80px
			background-color white
			font-size-em(18px);
			color #4b4b4b
			overflow auto
		}
	}
}



@media screen and (max-width: 1200px) {
	.disclaimer {
		&__content{
			width: auto;
			padding: 50px 50px;
			margin-bottom: 25px

		}
	}
}


@media only screen and (max-width : 750px){
	.disclaimer {
		&__content{
			margin-bottom: 3px;
		}
	}
}

@media only screen and (max-width : 420px){

	.section {
		&.disclaimer {
			background-image: none;
			background-color: $logo-grey;
		}
	}

	.disclaimer {
		background-image: none;
		background-color: $logo-grey;
		.section__holder {
			padding: 70px 20px 75px 20px;
		}

		&__content{
			padding: 50px 20px;
			width: 100%;
			height: auto;
			border-radius(3px)
			//position absolute
			margin auto
			top 0
			bottom 0
			right 0px
			left 0px
			text-align justify
			//padding 80px 80px
			background-color white
			color #4b4b4b
			overflow auto

			h1{
				font-size-em(23px);
			}

			h2{
				font-size-em(18px);
				text-align: left;
			}

			p {
				font-size-em(16px);
				text-align: left;
				line-height: 1.5em;
			}
		}
	}
}
