.overlay {
	top 0
	left 0
	
	&__error{
		position relative
		background-color rgba(75,75,75,.8)
		display: block;
		height: 100vh;
		width: 100vw;
		
		&__content{
			border-radius(3px)
			width 500px
			height 420px
			position absolute
			margin auto
			top 0
			bottom 0
			right 0
			left 0
			text-align center
			padding 20px 20px
			background-color white
			font-size-em(24px);
			color #4b4b4b			
			
			img{
				margin-top 27px
			}
			
			&__title{				
				font-family: font_bold;
				display block
				margin-top 27px
			}
			
			&__msg{
				font-family: font;
				display block
				margin-top 10px
			}
			

		}

		&__confirm{
			display: block;
			height 60px
			width 200px
			line-height 60px
			font-size-em(18px);
			font-family: font;
			color white
			background-color #6edcd4
			border-radius(3px)
			border none
			margin 43px auto 0
			text-decoration: none;
			&:hover{
				background-color #4b4b4b
			}
		}
	}
	
	.wpcf7-response-output {
		display: none !important;
	}
	
	.wpcf7-not-valid-tip{
		position absolute
		font-size-em(14px);
		color #ff825a
		font-family: font;
		top: 35px;
	}

	
}

.mobile {
	.contact__form__input--single .wpcf7-not-valid-tip {
		top: 17px;
	}
}

@media only screen and (max-width: 550px) {
	.overlay {
		&__error{			
			&__content{		
				width 294px
				height 360px
				font-size-em(18px);
				padding 20px 40px
				
				
				img{
					margin-top 40px
					width 100px
					height 84px
				}
				
				&__title{
					margin-top 27px
					line-height 20px
				}
				
				&__msg{
					margin-top 0px
					font-size-em(14px);
				}
			}
			
			&__confirm{
				height 40px
				width 150px
				line-height 40px
				font-size-em(14px);
				margin 43px auto 0				
			}
		}
	}
}