.faq {
	background-color: #FFF;
    color: #000;
    overflow: visible;
    padding: 318px 0 333px;
    text-align: center;
    z-index: 10;
	
	.section__pattern--4 {
		top: -166px;
		display block
		
		@media(min-width: 1545px) {
			top: -146px
		}
		
		@media(max-width: 750px) {
			top: -196px;
		}
	}
	
	.section__holder {
		padding-top: 117px;
		
		@media(max-width: 1545px) {
			padding-top: 0;
		}
	}
	
	h1,
 	h2 {
		color #4b4b4b
		text-transform: none
	}
	
	h1 {
		margin-bottom 97px;
	}
	
	h2 {
		margin-bottom 10px;
		
		span:before,
		span:after {
			border-color: #4b4b4b;
		}
	}
}

.faq-blocks {
	margin-bottom 116px
}

.faq-item {
	margin-bottom 33px
}

.faq-question {
	min-height 74px
	width 100%
	background-color #d3f3f0
	text-align: left;
	cursor pointer
	padding: 21px;
	font-size: 128%;
	font-weight: bold;
	
	background-repeat: no-repeat;
	background-size: 16px 17px;
	background-position: 96.9% center;
	background-image: url('../assets/images/btn-faq-plus.png');
	
	&.faq-question-expanded {
		background-image: url('../assets/images/btn-faq-minus.png');
	}
	
	&.faq-question-expanded + .faq-answer {
		max-height 1000px;
		padding: 24px 21px 21px 19px;
	}
}

.faq-answer {
	text-align: left;
	max-height 0
	width 100%
	overflow hidden
	transition all .3s
	font-size: 134%;
	padding: 0 21px 0 19px;
}