@font-face {
	font-family: 'Akkurat-web';
	src: url('../assets/fonts/Akkurat.otf');
	src: url('../assets/fonts/Akkurat.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/Akkurat.woff') format('woff'),
		 url('../assets/fonts/Akkurat.ttf') format('truetype'),
		 url('../assets/fonts/Akkurat.svg#Akkurat') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat-Bold-web';
	src: url('../assets/fonts/Akkurat-Bold');
	src: url('../assets/fonts/Akkurat-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/Akkurat-Bold.woff') format('woff'),
		 url('../assets/fonts/Akkurat-Bold.ttf') format('truetype'),
		 url('../assets/fonts/Akkurat-Bold.svg#Akkurat-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Akkurat-Italic-web';
	src: url('../assets/fonts/Akkurat-Italic.otf');
	src: url('../assets/fonts/Akkurat-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/Akkurat-Italic.woff') format('woff'),
		 url('../assets/fonts/Akkurat-Italic.ttf') format('truetype'),
		 url('../assets/fonts/Akkurat-Italic.svg#Akkurat-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

// /* This font face inherits and overrides the previous font face, but only for chrome */
// @media screen and (-webkit-min-device-pixel-ratio:0) {

// 	@font-face {
// 		font-family: 'Akkurat-Italic-web';
// 		src: url('../assets/fonts/Akkurat-Italic.svg#Akkurat-Italic') format('svg');
// 	}
// 	@font-face {
// 		font-family: 'Akkurat-Bold-web';
// 		src: url('../assets/fonts/Akkurat-Bold.svg#Akkurat-Bold') format('svg');
// 	}
// 	@font-face {
// 		font-family: 'Akkurat-web';
// 		src: url('../assets/fonts/Akkurat.svg#Akkurat') format('svg') ;
// 	}
// }

body {
	-webkit-font-smoothing: antialiased;
}


font = 'Akkurat-web', sans-serif
font_bold = 'Akkurat-Bold-web', sans-serif
font_italic = 'Akkurat-Italic-web', sans-serif 