.footer {

	background-color: white;
	height: 416px;
	min-height 367px;
	//background-image: url("../assets/images/GUIDE_footer.png");
	//background-repeat: no-repeat;
	//background-position: 50% 0px;
	position relative

    margin-top: 270px;


	&__logo{
		width 50px
		height 52px
		background-image: url("../assets/images/hatch_logo_short.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size 100%
		position absolute
		left 0px
		right: 1110px;
    	bottom: 68px;
		margin auto
	}

	&__text{
		position absolute
		left 0px
		right 249px
		bottom 81px;
		margin auto
		width 760px;
		text-align left
		//font-size 18px;
		font-size-em(18px);
		color #ff825a


		span{
			margin-right 10px


			&:before{
				content: '';
				position: absolute;
				border-left: 1px solid;
				margin: 6px 0px 0px -8px;
				height: 16px;
			}
		}

		span:nth-child(1){
			&:before{
				content: '';
				position: absolute;
				border-left: none
			}
		}


		a{
			cursor pointer
			color #ff825a
			text-decoration none
		}

		a:hover, a:active {
			text-decoration: underline;
		}

	}

	&__social {
		width: 140px;
		height: 40px;
		position: absolute
		bottom: 75px;
	    right: 351px;

		&__icon {
			width: 40px;
			height: 40px;
			margin-right: 15px;
			font-size: 0px;
			display: inline-block;
    		border-radius: 3px;
			background-size: 50% 50%;
			background-repeat: no-repeat;
			background-position: center center;

			&--twitter {
				background-color: $twitter-blue;
				background-image: url('../assets/images/ico_twitter.svg');
			}

			&--linkedin {
				background-color: $linkedin-blue;
				background-image: url('../assets/images/ico_linkedin.svg');
			}

		}

		a {
			display: block;
			width: 100%;
			height: 100%;
		}

	}
}

// .tablet {
//     .section__pattern--6 {
// 		&.section__pattern--footer {
// 			height: 230px;
// 			bottom: 110px;
// 			.section__pattern__part--top {
// 				height: auto;
// 				background-image: url(../assets/images/pattern/pattern_6_top.svg), url(../assets/images/pattern/pattern_6_bottom.svg);
// 				background-size: 100%, 100%;
// 				background-position: center bottom 93.5%, center bottom;
// 				@media screen and (min-width: 900px) {
//
// 				}
// 				&:after {
// 					content: '';
// 					display: block;
// 					padding-bottom: 26.1%;
// 				}
// 			}
// 			.section__pattern__part--bottom {
// 				display: none;
// 			}
// 		}
//     }
// 	.index .section--footer,
// 	.where-to-buy-solutions .section--footer,
// 	.request-demo .section--footer,
// 	.faqs .section--footer,
// 	.about-us .section--footer {
// 	    margin-top: 0;
// 	}
// 	.footer {
// 		height: 220px;
// 		min-height: 0;
// 		margin-top: 0;
// 		padding-top: 100px;
// 		text-align: center;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		&__logo {
// 			width: 20px;
// 			height: 20px;
// 			margin: 0;
// 			margin-top: 5px;
// 			position: static;
// 			display: inline-block;
// 			margin-right: 20px;
// 		}
// 		&__text {
// 			position: static;
// 			font-size: 8px;
// 			display: inline-block;
// 			width: auto;
// 			margin: 0;
// 			span {
// 				&:before {
// 					height: 10px;
// 					margin: 10px 0px 0px -8px;
// 				}
// 			}
// 		}
// 		&__social {
// 			margin: 0;
// 			margin-left: 40px;
// 			width: 67px;
// 			height: 25px;
// 			position: static;
// 			&__icon {
// 				margin-right: 2px;
// 				width: 16px;
// 				height: 16px;
// 			}
// 		}
// 	}
// }

.partners,
.packages,
.news,
.blog,
.disclaimer,
.privacy {
	.footer {
		margin-top: 445px;
	}
}

.terms {
	.footer {
		margin-top: 100px;
	}
}

@media only screen and (max-width: 1466px) {
	.partners,
	.packages,
	.news,
	.blog,
	.disclaimer,
	.privacy {
		.footer {
			margin-top: 270px;
		}
	}

	.footer {
		&__text{
			font-size-em(18px);

			span{
				font-size: .9em;
			}
		}
	}
}

@media only screen and (max-width: 1340px) {
//	.packages, .news, .disclaimer, .privacy {
//		.footer {
//			margin-top: 320px;
//		}
//	}

	.footer {
		margin-top 320px;

		&__logo{
			left 0px
			right 0px
			bottom 180px
		}

		&__text{
			left 0px
			right 0px
			bottom 135px
			text-align center
		}

		&__social{
			left: 10px;
		    right: 0px;
		    bottom: 73px;
		    text-align: center;
		    margin: auto;
		}
	}

}

@media screen and (max-width: 1100px) {
	.footer {
		margin-top: 320px;
	}
	.mobile {
		.footer {
			margin-top: 0px !important;
			height: 250px
			min-height: 250px;
		}
	}
}


@media only screen and (max-width: 750px) {
	.footer {


		&__logo{
			bottom: 185px;
		}

		&__text{
			width 300px
			line-height 20px
			bottom: 110px;
			font-size-em(14px);

			span{
				margin-right 10px

				&:first-of-type {
					display: block;
				}

				&:before{
					content: '';
					position: absolute;
					border-left: 1px solid;
					margin: 6px 0px 0px -8px;
					height: 12px;
				}
			}

			span:nth-child(2){
				&:before{
					content: '';
					position: absolute;
					border-left: none
				}
			}
		}

		&__social {
			bottom: 50px;
		}
	}
}
