.intro {

	background: #4D4D4D;
	text-align: center;
	color: white;

	min-height: 900px;

	.no-mobile & {
		height: 110vh;
	}

	.mobile & {
		height: 90vh;
	}

	//background-image: url("../assets/images/GUIDE_introduction_mobile.png");
	//background-repeat: no-repeat;
	//background-position: 50% 0;

	padding: 0;
	//margin-bottom: 160px;

	.section__pattern--4 {
		display: block
		top: -156px;
        .pattern-mask {
            width: 100%;
            height: 96px;
            position: absolute;
            background: white;
            z-index: 10;
            top: 150px;
			@media (min-width: 1545px) {
				height: 110px;
				top: 136px;
			}
        }
		@media(min-width: 1545px) {
			top: -136px;
		}

		// @media(max-width: 1155px) {
		// 	top: -248px;
		// }

		// @media(max-height: 800px) {
		// 	top: -248px;
		// }

		@media(max-width: 750px) {
			top: -196px;
		}
	}

	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background-image: url("../assets/images/intro/intro_bcg.jpg");
		background-size: cover;
	}

	.section__holder  {
		// top: 0 !important;
		// padding-top 330px

		h1 {
			text-transform: uppercase;
			// margin-bottom: 92px;
			margin-bottom: 50px;

			@media(max-height: 800px) {
				margin-bottom 15px;
			}
		}


		h2 {
			margin-bottom 32px;
		}

		// @media(max-height: 1120px) {
		// 	padding-top: 180px;
		// }

		// @media(max-height: 800px) {
		// 	padding-top: 150px;
		// }
	}

	// > .section__holder {
	// 	top: 50%;
	// 	height: 450px;
	// 	transform: translateY(-50%);
	// 	margin: 0;
	// }

	.section__header--intro {
		max-width: 88%;
	}

	&__steps {
		width: 754px;
		height: 225px;
		margin-bottom: 57px;

		width: 100%;
		height: auto;

		&__ico {
			// background-image: url("../assets/images/intro/intro_3steps.svg");
			// background-repeat: no-repeat;
			// background-position: 50% 0;
			// background-size: 100%;
			width: 754px;
			height: 162px;
			margin: auto;
		}

		&__text {
			width: 161px;
			margin-top: 23px;
			display: inline-block;
			line-height: 1em;

			strong {
				//font-size: 20px;
				font-size-em(20px);
				letter-spacing: -0.01em;
				line-height: 1em;
			}

			i {
				//font-size: 18px;
				display: block;
				font-size-em(18px);
				letter-spacing: -0.01em;
				line-height: 1em;
			}

			&:nth-child(3) {
				.intro-shape--0,.intro-shape--8, .intro-shape--1, .intro-shape--7{
					display block !important
				}
			}
		}
	}

	&__playBtn {
		width: 754px;
		height: 145px;
		padding: 0;
	  	text-align:center;
		margin-bottom: 62px;

		&__link {
			color: white;
			text-decoration: none;
		}


	  	&__btn {
			cursor:pointer;
			position:relative;
			border: none;
			width: 100px;
			height: 100px;
		  	margin-left:auto;
		  	margin-right:auto;
			padding 0;
			svg {
			  	position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				transform: scale(0.7);
			  }

			&__triangle{
				z-index:1;
			}
		}


		&__text {
			//font-size: 20px;
			font-size-em(20px);
			letter-spacing: -0.01em;
			line-height: 1em;
		}
	}

	.section__holder {
		height: 300px;
		position: absolute;
		top: 53%;
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		// margin: auto;
		.mobile & {
			top 40%
		}
		@media(max-width: 1545px) {
			top: 50%;

		}
	}
	#demo__request {
		@media(max-width: 1545px) {
			top: calc(100vh - 268px);
		}
	}
}

.section {
	&__header {
		&--intro {
			//height: 92px;
	 		margin-bottom: 59px;

	 		h1 {
	 			margin-bottom: 4px;
	 			//transform: translate(-200px, 0);
	 		}

		}
	}
}

// .tablet {
// 	.home {
// 		.section--intro {
// 			height: auto;
// 			min-height: 0;
// 			&:after {
// 				content: '';
// 				display: block;
// 				padding-bottom: calc(93% + 90px);
// 				@media screen and (max-width: 750px) {
// 					padding-bottom: calc(93% + 50px);
// 				}
// 			}
// 			.section__pattern--2, .section__pattern--4 {
// 				display: none;
// 			}
// 			.section__holder {
// 				top: 45%;
// 				.section__header--intro {
// 					margin-bottom: 0;
// 				}
//
// 			}
// 			#demo__request {
// 				width: 215px;
// 				height: 230px;
// 				top: auto;
// 				bottom 120px;
// 				#request-demo-close {
// 					width: 11px;
// 					height: 11px;
// 					svg {
// 						width: 100%;
// 						height: 100%;
// 					}
// 				}
// 				h2 {
// 					font-size: 18px;
// 					margin-top: 7px;
// 					margin-bottom: 15px;
// 				}
// 				p {
// 					width: 250px;
// 				}
// 				.request__form__input {
// 					width: 170px;
// 				}
// 				#requestDemoSubmit {
// 					font-size: 14px;
// 					width: 170px;
// 				}
// 			}
// 			.intro__bg {
// 				top: 90px;
// 				height: auto;
// 				background-image: url(../assets/images/pattern/pattern_4_top.svg), url(../assets/images/pattern/pattern_4_bottom.svg), url(../assets/images/pattern/pattern_2_top.svg), url(../assets/images/pattern/pattern_2_bottom.svg), url(../assets/images/intro/intro_bcg.jpg);
// 				background-size: 100%, 100%, 100%, 100%, 131%;
// 				background-position: center top -17%, center top -5.8%, center bottom 16.5%, center bottom, center top;
// 				background-repeat: no-repeat;
// 				background-color: #6edcd4;
// 				@media screen and (max-width: 750px) {
// 					top: 50px;
// 				}
// 				&:after {
// 					content: '';
// 					display: block;
// 					padding-bottom: 93%;
// 				}
// 			}
// 			.section__header {
// 				&__title {
// 					font-size: 16px;
// 					margin-bottom: 10px;
// 					line-height: 38px;
// 				}
// 				&__subtitle {
// 					margin-bottom: 12px;
// 					font-size: 15px;
// 				}
// 			}
// 			.intro__playBtn {
// 				&__btn {
// 					width: 70px;
// 					height: 70px;
// 				}
// 				p {
// 					font-size: 12px;
// 				}
// 			}
// 			.section__arrow {
// 				margin-top: 40px;
// 				position: relative;
// 				top: auto;
// 				bottom: auto;
// 				&__bg {
// 					background-size: 70%;
// 				}
// 				span {
// 					font-size: 10px;
// 				}
// 			}
// 		}
// 		.section__separators {
// 			.section__pattern--2 {
// 				display: none;
// 			}
// 		}
// 		.section__arrow {
// 			// display: none;
// 		}
// 	}
// }

.tablet {
	.home {
		.section__content {
			&.intro__playBtn {
				.section__arrow {
					top: auto;
					bottom: -270px;
				}
			}
		}
	}
}

.mobile {
	.intro {

		.section__holder  {
			// top: 0 !important;
		}

		&__steps {
			width: 100%;
			height: auto;

			&__ico {
				.intro-shape--0,.intro-shape--8, .intro-shape--1, .intro-shape--7{
					display: block !important
				}
			}
		}
	}
}

#demo__request {

	background-color white


	.no-mobile & {
		width 360px
		// height 360px
		position absolute
		// top: 50%
		right 0
		border-radius: 2px;
		z-index: 15;
		// top: calc(100vh - 200px)
		bottom 0
		transform: scaleY(0)
		transition: all 0.5s

		@media(max-width: 1545px) {
			width: 288px;
		}

		.wpcf7 {
			position absolute
			top: 50px
			opacity: 0
			width 100%
			bottom 0
			padding-top: 35px;
			transition: all 0.5s

		}
	}

	.mobile & {
		height 270px
		width 100%
		position relative
		padding-top: 30px;
		padding-bottom: 40px;


	}

	#request-demo-close {
		height: 17px;
		width: 17px;
		right: 10px;
    	top: 6px;
		position absolute
		cursor pointer
		z-index 20

		svg {
			height: 17px;
			width: 17px;
			fill: #a9a9a9;
		}

		&:hover svg {
			fill: #8a8a8a
		}
	}



	form {
		text-align: center;
	}

	h2 {
		color #ff825a;
		font-size: 161%;
		margin-bottom 37px
		overflow visible
	}

	p {
		width 280px
		margin 0 auto
		display block

		span input {
			width 100%
			margin-bottom 17px
			height 60px
			background-color #f1f1f1
			border: 0;
			border-radius: 2px;
			color #4b4b4b
			padding-left 20px
			padding-right 20px

//			&:focus {
//				font-style: italic;
//			}
		}
	}

	#requestDemoSubmit {

		width 100%
		height 60px
		border: none;
		background-color #6ed6ce
		border-radius: 2px;
		color white

		&:hover {
			background-color #ff825a
		}
	}

	span.wpcf7-not-valid-tip {
		margin-bottom: 0;
    	margin-top: -17px;
	}

	&.open {
		.no-mobile & {
			transform: scaleY(1)


			.wpcf7 {
				top: 0
				opacity: 1
				transition-delay 0.5s
			}
		}
	}
}

.mobile .demo__request {
	display none
}

.tablet {
	#demo__request {
		display: none;
	}
}

@media screen and (max-height: 900px) {
	.intro {
		min-height: 1000px;
		// .section__holder {
		// 	top: calc(50% - 50%);
		// }
	}

}

@media only screen and (max-width: 850px) {
	.intro {
		&__steps {
			width: 650px;

			svg {
				width: 100%;
			}
	 	}

	 	&__playBtn {
			width: 650px;
	 	}
	}
}



@media only screen and (max-width: 750px) {
	.intro{

		.no-mobile & {
			min-height: 720px;
		}

		.mobile & {
			min-height: 720px;
		}

		&__steps {
			svg {
				height 100px;
				width 100%;
				//margin-left -20%;
			}

			width: 470px;
			height: auto;
			margin-bottom: 30px;

			&__ico {
				width: 335px;
				height: 102px;
				margin-bottom -3px

				.intro-shape--0,.intro-shape--8, .intro-shape--1, .intro-shape--7{
					display none
				}
			}

			&__text {
				width: 114px;
				margin-top: 15px;
				vertical-align: top;

				strong {
					font-size-em(14px);
					font-family font
				}

				i {
					display: none;
					font-size-em(14px);
				}

				&:nth-child(3) {
					margin-left: 23px;
					margin-right: 23px;
				}
			}
		}

		&__playBtn {
			margin: 0 auto 32px auto;
			width: 335px;

			&__btn {
				width: 80px;
				height: 80px;
			}
		}

		.section__holder {
			// height: 470px
			// top: 146px;
		}
	}
	.section {
		&__header {
			&--intro {
				margin-bottom: 39px;

		 		h1 {
		 			margin-bottom: 1px;
		 		}
			}
		}
	}
}

@media only screen and (max-width: 550px) {
	.intro{

		.no-mobile & {
			min-height: 640px;
		}



		.section__holder {
			// height: 358px;
		}

		&__steps {
			svg {
				height inherit;
				width 100%;
				margin-left 0;
			}

			width: 100%;
			height: auto;
			margin-bottom: 30px;

			&__ico {
				width: 100%;
				height: 100px;
				margin-bottom -3px

				.intro-shape--0,.intro-shape--8, .intro-shape--1, .intro-shape--7{
					display: none
				}
			}


			&__text {
				width: 90px;
				margin-top: 5px;
			}

		}

		&__playBtn {
			width: 160px;
			height: 145px;
			margin: 0 auto;
			padding: 0;
			//margin-bottom: 62px;

			&__btn {
				background-image: url("../assets/images/intro/intro_playBtn.svg");
				background-size: 100%;
				background-color: transparent;
				background-size: 50px 50px;
				border: none;
				width: 50px;
				height: 50px;
				margin-bottom: 10px;
				padding 0;
			}

			&__text {
				//font-size: 20px;
				font-size-em(16px);
				letter-spacing: -0.01em;
				line-height: 1em;
			}
		}

	}
}

@media only screen and (max-width: 375px) {
	.intro{

		&__steps {

			&__text {
				width: 80px;
			}

		}

	}
}

@media only screen and (max-width: 320px) {
	.intro{

		&__steps {

			&__text {
				width: 70px;
			}


			&__ico {
				height: 75px;
			}

		}

	}
}
