.integration {
	background-color: white;
	color #4b4b4b;
	text-align: center;
	padding: 185px 0 290px; //379

	//background-image: url("../assets/images/GUIDE_integration_mobile.png");
	//background-repeat: no-repeat;
	//background-position: 50% 0px;

	h1, h2 {
		color #4b4b4b
	}

  	&__steps_icons	{
	 position:absolute;
	  top:-44px;
	  width:160px;
	  height:686px;

	  background-color:white;

	}

	&__steps{
		margin: 50px 0 112px;
		position: relative;

		&__item{

			&--bullet, &--ico, &--txt, &--start, &--end {
				display inline-block
				height: 140px;
				vertical-align: middle;
			}

			&--start, &--end{
				width 160px;
				color #7cebe1
				//font-size 18px;
				font-size-em(18px);
				height 0px
				margin-right 480px

				background-image: none;
				background-repeat: no-repeat;
				background-position: 71px 0px;
				i {
				  position:relative;
				}

			}


			&--end{
				background-position: 71px 100%;
				padding-top 45px

			}

			&--bullet{
				color #7cebe1
				//font-size 60px;
				font-size-em(35px);
				line-height 200px
				width 100px
				text-align right
				padding 0 50px 0 0;
			}

			&--ico{
				width 100px
				background-image: url("../assets/images/integration/integration_line.svg");
				background-repeat: no-repeat;
				background-position: 74px 50%;
				opacity: 0;
				visibility: hidden;
			}

			&--txt{
				width 586px;
				padding: 0 0 0 70px;
				color #9d9d9d;
				//font-size 18px;
				font-size-em(18px);
				text-align left
				line-height 200px

				span {
					display none
				}

				i{
					display: inline-block;
					vertical-align: middle;
					line-height: 24px;

				}
			}

		}
	}


	&__cards{
		margin-top 52px

		&__card{
			max-width: 330px;
			display inline-block
			vertical-align top
			position relative
			width 33.33333%
			height 330px
			margin: 0px 18px 20px;
			background #f5f5f5
			border-radius(3px)

			&__top{
				height 220px
				background-color #7cebe1
				border-radius(3px 3px 0  0);
				background-repeat: no-repeat;
				background-position: center;
			}

			&__bottom{
				padding 5px 20px 0px
				line-height 110px
				text-align center

				p {
					line-height: normal;
					display: inline-block;
					vertical-align: middle;
				}
			}

			.section__smallbtn{
				top 200px
				width auto
				// padding: 5px 25px 5px 25px;
				bottom inherit
			}
		}
	}


	// &__cards:after{
	// 	content: '';
	// 	width: 100%;
	// 	display: inline-block;
	// 	font-size: 0;
	// 	line-height: 0
	// }


	&__companies{
		margin-top 35px
		margin-bottom 100px
		padding 0 0px
		display flex
		justify-content center
		width 70%

		p{
			//font-size 24px
			font-size-em(18px);
			margin-top: 22px
			margin-bottom 22px
			text-align center
		}

		&__logo{
			margin 0 20px
			max-width 170px
		}

	}

	.section__arrow {
		margin-top 45px
		color #4b4b4b
	}
}


.mobile {
	.integration {

		&__companies{
			margin-top 5px
			padding 0 0px

			p{
				//font-size 24px
				font-size-em(16px);

			}

			&__logo{


			}

		}
	}
}

@media screen and (max-width: 1400px) {
	.integration {


		padding: 165px 0 250px;

		&__steps{

			&__item{
				&--bullet, &--ico, &--txt, &--start, &--end {
					// height 180px
				}

				&--start, &--end{
					// height 71px;
				}
				&--txt{
					font-size-em(16px);
				}

				&--bullet{
					font-size-em(40px);
				}

			}
		}

		&__cards{
			padding: 0 20px;

			&__card {

				&__text{
					color #4b4b4b;
					//font-size 18px;
					font-size-em(16px);
					line-height 1.3em;
					letter-spacing -0.01em;
				}
			}
		}
	}
}



@media screen and (max-width: 1190px) {
	.integration {
		&__cards{
			&__card{
				width 45%
			}
		}

		&__steps{
			&__item{
				&--txt {
					width: 67%;
				}
				&--end{
					//background-position: 48.5% 100%; //
				}
			}
		}
	}
}

@media only screen and (max-width : 900px){
	.integration {
		&__steps{
			&__item{
				&--start, &--end{
					margin-right 370px //
				}

				&--end{
					//background-position: 48.5% 100%; //
				}

				&--bullet{
					padding 0 20px 0 0; //
				}

				&--txt{
					width 476px; //
					padding: 0 0 0 20px; //
				}
			}
		}
	}
}


@media only screen and (max-width : 850px){
	.integration {

	  &__steps_icons{
		display:none;
	  }

		padding: 178px 0 250px;




		&__steps{
			margin: 39px 0 59px;

			&__item{
				width 170px
				line-height 20px
				&--start, &--end{
					margin-right -10px //
					background-image: url("../assets/images/integration/integration_line.svg");
				}

				&--start {
					background-position: 72px 0px;
				}

				&--ico{
					opacity: 1;
					visibility: visible;
				}

				&--end{
					//background-position: 48.5% 100%; //
				}

				&--bullet{
					display none
				}

				&--txt{
					width 85%
					height auto
					line-height 87px
					padding: 0 0 0 20px; //
					margin: 1px 0px;

					i{
						line-height 20px;
					}

					span {
						color #7cebe1
						font-size-em(30px);
						display inline-block
						font-family font
					}
				}
			}
		}

		&__cards{
			padding: 0 20px


			&__card{
				width 100%
				height 200px
				margin: 0px 0px 20px;

				&__top{
					height 140px

					img{
						height 140px
					}
				}

				&__bottom{
					line-height 60px

					p{
						font-size-em(16px);
					}
				}

				.section__smallbtn{
					top 120px

				}
			}
		}

		&__companies{
			margin-top 5px
			padding 0 0px

			p{
				font-size-em(18px); //
				margin-bottom 0px
				text-align center
			}

			&__logo{
				// margin 10px//
				//width 110px//
				//height 96px//

				img{
					//width 110px
					//height 96px
				}
			}
		}
	}
}

@media only screen and (max-width : 750px){
	.integration {
		&__cards{
			&__card{
				&__bottom{
					p{
						font-size-em(14px);
					}
				}
			}
		}
	}
}


@media only screen and (max-width : 460px){
	.integration {

		&__companies{

			&__logo{
				width 80px//
				height 70px//

				img{
					width 80px
					height 70px
				}
			}
		}
	}
}

// .ie {
// 	.integration__steps_icons	{
//
// 		display: none;
// 	}
//
// 	.integration {
// 		&__steps{
// 			&__item{
// 				&--start, &--end{
// 					background-image: url("../assets/images/integration/integration_line.svg");
// 					background-repeat: no-repeat;
// 					background-position: 71px 0px;
// 					i {
// 					  position:relative;
// 					}
// 				}
//
// 				&--end{
// 					background-position: 71px 100%;
// 					padding-top 61px
//
// 				}
//
// 				&--ico{
//
// 					opacity: 1;
// 					visibility: visible;
// 				}
// 			}
// 		}
// 	}
// }
//
// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
// 	.integration__steps_icons	{
//
// 		display: none;
// 	}
//
// 	.integration {
// 		&__steps{
// 			&__item{
// 				&--start, &--end{
// 					background-image: url("../assets/images/integration/integration_line.svg");
// 					background-repeat: no-repeat;
// 					background-position: 71px 0px;
// 					i {
// 					  position:relative;
// 					}
// 				}
//
// 				&--end{
// 					background-position: 71px 100%;
// 					padding-top 61px
//
// 				}
//
// 				&--ico{
//
// 					opacity: 1;
// 					visibility: visible;
// 				}
// 			}
// 		}
// 	}
// }
