* { box-sizing: border-box; }

//Video
* { box-sizing: border-box; }
.video-background {
  background: #000;
  // position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  // z-index: -99;
  overflow hidden
}
.video-foreground,
.video-background iframe {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform scale(1.2)
  transform-origin center
  transition: opacity 3s

  .tablet & {
  	display none
  }

  &.ready {
  	opacity: 1;
  }
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.videoId {
	display none
}



//.home {
////	overflow: hidden;
//}

ul, li {
	margin 0
	padding 0
}

button {
	outline: none;
}


.page-wrapper {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	//min-width: 1140px;
	position: relative;
	background-color: white;
//	if !debug{
//		overflow: hidden;
//	}

	overflow visible
}

.page .page-wrapper, .single .page-wrapper {
	overflow: visible
}

.section{
	width: 100%;
	min-height: 100%;
	background: rgba(0,0,0,1);
	//border: solid 1px white;
	position: relative;

	overflow: hidden;


	&__holder {
		width: 100%;
		max-width: 1200px;
		//min-width: 1140px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
	}


	&__header, &__content, &__playBtn, &__arrow {
		margin-left: auto;
		margin-right: auto;
	}

	&__content {

	}

	&__header {
		&__accessibility {
			&__title {
				display: none;
			}
		}
	}


	&__playbtn {
		width: 160px;
		height: 145px;
		margin: 0 auto 62px auto;

		&__btn {
			background-image: url("../assets/images/intro_playBtn.svg");
			background-size: 100%;
			background-color: transparent;
			border: none;
			width: 100px;
			height: 100px;
			margin-bottom: 24px;
			padding 0
		}

		&__text {
			font-size-em(20px);
			letter-spacing: -0.01em;
			line-height: 1em;
		}
	}

	&__separators {
		position: relative;
	}

	&__arrow {
		width: 170px;
		height: 70px;
		color white
		font-family font_italic
		font-size-em(16px);
		line-height 67px;
		cursor: pointer;
		position: absolute;
		z-index: 20;
		top: -200px;
		left: 0;
		right: 0;
		margin: auto;

		text-align: center;
		opacity: 1;
		visible: hidden;

		&__bg {
			position: absolute;
			width: 52px;
			height: 90px;
			left: 0;
			right: 0;
			margin: auto;
			background-image: url('../assets/images/arrow_animation_sprite_green.png');
			background-size: 512px 1024px;
			background-repeat: no-repeat;
			background-position: 0px 0px;
			cursor: pointer;

			&.grey {
				background-image: url('../assets/images/arrow_animation_sprite_grey.png');

				& + span {
					color: $logo-grey;
				}
			}
			&.white {
				// background-image: url('../assets/images/arrow_animation_sprite_white.png');
				background-image: url('../assets/images/arrow_animation_sprite_white.png');
				// background-size: auto auto;
				// background-position: center center;
			}
		}

		span {
			display: block;
    		font-size: 104%;
    		padding-top: 9px;
		}
	}



	&__smallbtn{
		bottom: -20px
		border: none;
		font-family: font_bold;
		font-size-em(18px);
		text-transform capitalize
		padding: 6px 26px 7px 26px;
		position: absolute
		border-radius: 3px;
		background-color: $orange;
		color: white;
		outline: none;
		left: 50%;
		transform: translate(-50%, 0) scale(1.0, 1.0);
		text-decoration: none;
		backface-visibility: hidden;

		&:after {
			transition all 0.3s
			transition-timing-function: ease
			content: ""
			width 100%
			height 100%
			position: absolute
			top 0
			left 0
			color: white;
			background-color: $logo-grey;
			border-radius: 3px;
			transform scaleY(0);
			transform-origin top
			z-index: -1
		}

		&:hover {
			&:after {
				transform scaleY(1);
			}
		}

		span {
			width auto
			position: relative;
			top: 0;
			z-index: 2
		}

		// &--blue{
		//   background-color: #66bcb4;
		// }
	}


	&__bigbtn{
		width: 100%;
		border: none;
		font-family: font_bold;
		font-size-em(18px);
		height: 60px;
		line-height 60px
		position: absolute;
		bottom: 0px;
		left: 0;
		right: 0;
		padding 0
		margin: auto;
		background-color: #FF825A;
		color: white;
		border-radius(3px);
		outline: none;


			span {
			  display: block;
			  width: 100%;
			  height: 100%;
			  /* line-height: 40px; */
			  position: absolute;
			  top: 0;
			  left: 0;
			  z-index: 1;
			}



		&--blue{
			background-color: #66bcb4;
		}



	}
}



.mobile {
	.home {
		overflow: visible;
	}

	.page-wrapper {
		overflow: visible;
	}

	.section {
		&__smallbtn{
			padding: 0 20px;
			bottom : -15px;
			font-size-em(12px)

			&.btn-left:before {
				transform-origin: center left;
				transform: scale(0, 1);
			}

			&.btn-center:before {
				transform-origin: center left;
				transform: scale(0, 1);
			}

			&:hover{
				&:before {
					transform: scale(0, 1);

				}
			}

			&.selected {
				&:before {
					transform: scale(1, 1);
					//border-radius: 3px;
				}
			}
		}


		&__bigbtn{

			&:hover{
				background-color: #4D4D4D;
			}

			&.selected {
				background-color: #4D4D4D;
			}
		}

		&__arrow {
			display: none;
		}
	}



}


// Full page header

.full-page-header {
	margin-top: 90px;
	width 100%
	background-color black;
	padding-bottom 49%
	position relative

	// min-height 800px

	.mobile & {
		min-height 300px;
	}

	@media(max-width: 1545px) {
		margin-top: 90px;
	}

	@media(max-width: 1155px) {
		margin-top: 90px;
	}

	@media(max-width: 750px) {
		margin-top: 50px;
	}
}

.full-page-header-content {
	position: absolute;
    z-index: 1;
	top 40%;
	transform: translateY(-50%);
	padding: 0 13.2%;
	width auto
	display flex

	h1 {
		color: #fff;
		font-size: 443%;
		line-height: 1.3;
		text-transform: uppercase;
		word-spacing: -7px;
		order 2
	}

	h3 {
		display: inline-block;
		font-family: "Akkurat-web",sans-serif;
		font-size: 90%;
		text-align: right;
		text-transform: uppercase;
		transform: rotate(180deg);
		writing-mode: vertical-lr;
		order 1
		width: 20px;
		top: 26px;
		margin-right: 10px;
		position: relative;

	}

	@media(max-width: 1250px) {
		top 40%
	}
}

.full-page-header-bg {
	opacity .3;
	background-size: cover;
	background-repeat: no-repeat;
	position absolute
	top 0
	width 100%
	bottom 0;
}



@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.section {
		&__holder {
			will-change: transform;
		}
	}
}

@media only screen and (max-height : 900px){
	.section{
		&__header{
			//padding 0 20px
		}
	}
}

@media only screen and (max-width : 1400px){
	.section {

		&__holder {
			max-width: 1070px;
		}
		&__smallbtn{
			font-size-em(16px);
		}

		&__arrow {
			font-size-em(14px);
		}
	}
}


@media only screen and (max-width : 1200px){
	.section{
		&__header{
			//padding 0 20px
		}
	}
}

@media only screen and (max-width : 750px){
	.section{

		&__arrow {
			width: 140px;
			height: 44px;
			font-size-em(12px);
			line-height 40px
		}

		&__bigbtn{
			font-size-em(14px);
			height: 40px;
			line-height 40px
		}
	}
}
