body:not(.home) {
    .loader {
        display: none;
    }
}

.loader {
	background: white;
	position: absolute;
	&__logo {
		visibility: hidden;
		opacity: 0;
		width: 671px;
		height: 280px;
		background-image: url("../assets/images/logo_animation_sprite_3.png");
		background-size: 4096px 4096px;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		margin: auto;
		top: -70px;
		bottom: 0;
		left: 0;
		right: 0;

		&.still {
			background-image: none;
			display: none;
		}
	}
	&--intro {
		z-index: 20;
	}
}

.section {
	&__holder {
		&--loader {
			position: relative;
			height 100vh;
		}
	}
}

.mobile {
	.loader {
		background: white;

		&__logo {
			width: 320px;
			height: 133px;
			background-image: url("../assets/images/logo_still.png");
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 320px 133px;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

@media only screen and (max-width: 750px) {
	.loader {
		&__logo {
			width: 279px;
			height: 86px;
		}
	}
}
