.tablet, .mobile,  {
	.home {
		.navigation {
			visibility: visible;
			opacity: 1;
		}
	}
}

.home {
    .navigation {
        opacity: 0;
        visibility: hidden;
    }
}

.navigation {
	background-color: rgba(255,255,255,1);
	//background-image: url("../assets/images/GUIDE_menu_mobile.png");
	//background-repeat: no-repeat;
	//background-position: 50% 0px;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 110px;
	top: 0;
	z-index: 20;
	font-family font_bold
	font-size-em(24px);
	line-height 52px;

	//will-change: transform;
	//transform: translate(0, -100%);

	&__bar {
		background-color: rgba(255,255,255,1);
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		transform-origin: center top;
		transform: translate(0, -100%);
	}


	&__menu{
		position: relative;
		display inline-block


		&--left{
			float left
			margin-left 40px;
			height 100%
			display flex
			align-items center

			.home {
				margin: 0 20px
				list-style none

				@media(max-width: 1185px) {
					margin-right: 0;
				}
			}

			li:not(.navigation__menu__item--logo) {
				a {
					color: $logo-grey;
					transition: color .1s ease-out;

					&.active-menu-item,
					&:hover {
						color #6edcd4
						transition: color .1s ease-out;
					}
				}
			}
		}

		&--right {
			float right
			margin-right 40px
			height 100%
			display flex
			align-items center

			color white

			.navigation__menu__item {
				&--tel, &--loginBtn {
					display: none;
			    }
			}

			li {
				&:first-child {
					margin-right: 29px
					letter-spacing: 0.8px;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			a {
				display: block;
				color: white;
			}
		}

		&__item {
			list-style: outside none none;
			display inline-block
			vertical-align middle
			margin: 0px 19px;
			font-size: .9em;

			&:last-child{
				margin-right 0
				// color cyan
			}
			&.second {
				margin-left 0
			}

			&--solutions {
				position: relative;
				.dropdown {
					position absolute
					top 80px
					transform scaleY(0)
					transform-origin top
					overflow hidden
					transition all 0.5s
					padding 20px
					left -20px
					margin-top: -40px;

					&:after {
						content ''
						display inline-block
						background-color white
						width 130%
						height 100%
						position absolute
						top 0
						left 0
						z-index -1
					}
					li {
						display block
						margin 0
						line-height: 35px;
						padding-left 20px
						text-align left
						padding 0
						opacity 0
						transition all 0.5s
						transition-delay 0.2s
					}
				}

				&:hover {
					.dropdown {
						height auto
						transform scaleY(1)

						&:after{
							transform scaleY(1)
						}
						li {
							opacity 1
						}

						@media(max-width: 1185px) {
							// display: none;
						}
					}
				}
			}

			&--logo{
				width 50px
				height 52px
				display inline-block
//				background-image: url("../assets/images/hatch_logo_short_bw.svg");
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size 100%;
				transition: background-image .1s;
				margin-left 0
				margin-top 5px

				background-image: url("../assets/images/hatch_logo_short.svg");

				&.active {
					background-image: url("../assets/images/hatch_logo_short.svg");
				}

				a {
					display: block;
					height: 100%;
					width: 100%;

					&:hover {
						background: none !important;
					}
				}
			}

			&__link{
				cursor pointer
				//color white
				text-decoration none
				letter-spacing: 1.5px;

				&:hover{
					color #6edcd4
				}

				&--requestDemoBtn,
				&--loginBtn{
					//font-size: .9em;
					width 120px;
					height: 50px;
					line-height: 44px;
					border-width: 3px;
					border-style: solid;
					border-color: white;
					border-image: none;
					position: relative;

	 				span {
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						z-index: 2;
					}
				}

				&--requestDemoBtn {
					width 220px;
				}
				&--loginBtn {
					margin-left -6px;
				}

				&--requestDemoBtn:hover,
				&--loginBtn:hover{
					//border-color: #6edcd4 !important;
					border-color: #6edcd4 ;
					background-color #6edcd4;
					color white;
					transition: none;
					//transition: border-color .2s;
					// &:before {
					// 	transform: scaleY(1);
					// 	//transform-origin: center bottom;
					// 	transition: transform .25s ease-out;

					// }
				}
				&--requestDemoBtn:active,
				&--loginBtn:active{
					//border-color: #6edcd4 !important;
					border-color: $orange;
					background-color $orange;
					transition: none;

					//transition: border-color .2s;
					// &:before {
					// 	transform: scaleY(1);
					// 	//transform-origin: center bottom;
					// 	transition: transform .25s ease-out;

					// }
				}
			}
		}

	}
	&.active {
		.navigation__menu {
			&--left{
				float left
				margin-left 40px;


				li:not(.navigation__menu__item--logo) {
					transform: translate(0, 0);

				}
			}
		}
	}

	&.contrast {
		.navigation__menu__item {
			&__link {
				color: $logo-grey;
				&--requestDemoBtn,
				&--loginBtn {
					border-color: $logo-grey;
					transition: none;
				}
			}

			&--logo {
				transition: background-image .4s;
				background-image: url("../assets/images/hatch_logo_short.svg");
			}
		}
	}
}

.navigation--dark {
	.navigation__menu__item{
		color #4b4b4b
	}

	.navigation__menu__item__link{
		color #4b4b4b
	}

	.navigation__menu__item--logo{
		background-image: url("../assets/images/hatch_logo_short.svg");
	}

	.navigation__menu__item__link--requestDemoBtn,
	.navigation__menu__item__link--loginBtn{
		border-color: #4b4b4b;
		transition: none;
	}
}

/* Hamburger menu */
.menu-btn {
	display none;
	top: 32px;
	width: 28px;
	height: 28px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	position absolute
	left 32px
}

 .menu-btn span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #4b4b4b
	border-radius: 0px;
	opacity: 1;
	left: 0;

	transform: rotate(0deg);

	transition: .25s ease-in-out;
}

.menu-btn span:nth-child(1) {
	top: 0px;
}

.menu-btn span:nth-child(2),.menu-btn span:nth-child(3) {
	top: 7px;
}

.menu-btn span:nth-child(4) {
	top: 14px;
}

.tablet {
	.menu-btn {
		display block;
	}

	.navigation.active .navigation__menu--left {
		margin-left 0
	}

	.navigation {
		background-color: rgba(255,255,255,1);
		height: 90px;
		font-family font //
		font-size-em(18px); //
		line-height 40px //

		&__bar {
			display: none;
		}


		&__menu {
			display block//
			width 100%; //
			margin-top: 0px; //

			&--left {
				margin-left 0px //

				li:not(.navigation__menu__item--logo) {
					visibility: visible;
					opacity: 1;
					transform: none;
					a {
						transition: none !important;
					}
				}

				li:nth-child(1n+2){
					display none
				}

				.home {
					margin-left: 0;
				}
			}

			&--right{
				margin-right 0px
				width: 140px;
				position: absolute;
				right: 0;
				li {
					&.navigation__menu__item--tel, &.navigation__menu__item--loginBtn {
						display: none;
					}
					&.navigation__menu__item--requestDemoBtn {
						background-color: #ff805a;
						position: absolute;
						top: 0;
						right: 25px;
						top: 20px;
						width: 140px;
						border-radius: 3px;
						a {
							span {
								color: white;
								line-height: 50px;
								font-family: 'Akkurat-Bold-web', sans-serif;
							}
						}
					}
				}
			}


			&__item{
				display block //
				margin: 0px 0px; //
				width 100% //

				&:first-child{
					margin-left auto
				}

				&--logo{
					width 40px //
					height 42px //
					margin 21px auto 17px //
					background-image: url("../assets/images/hatch_logo_short.svg");
				}

				&--logo:hover{
					background-color transparent
				}
				&__link{
					display block //
					color #4b4b4b //

					&:hover{
						color white !important//
						background-color #6edcd4//
					}


					&--requestDemoBtn,
					&--loginBtn {
						width 100%;//
						line-height: 40px;//
						border-width: 0px;//
						border-style: none;//
					}
				}


			}
		}
	}
	.navigation.open {
		height: auto;
		li {
			display block

			.navigation__menu__item:not(.navigation__menu__item--logo) {
				margin-left 0;
			}

			&.navigation__menu__item__hide_on_tablet {
				display none
			}
		}

		.menu-btn span:nth-child(1) {
			top: 6px;
			width: 0%;
			left: 50%;
		}

		.menu-btn span:nth-child(2) {

			transform: rotate(45deg);
		}

		.menu-btn span:nth-child(3) {

			transform: rotate(-45deg);
		}

		.menu-btn span:nth-child(4) {
			top: 6px;
			width: 0%;
			left: 50%;
		}

		.navigation__menu--right{
			display: none;
		}
	}

	.navigation.open {
		height: 100%;
    	background: rgba(0,0,0,.4);

    	ul {
    		background: white;
    	}

		li{
			display block
		}
	}

	.navigation__menu--left {
		.navigation__menu__item--solutions:hover,
		.navigation__menu__item--solutions {
			.dropdown {
				margin: 0;
				padding: 0;
				width: auto;
				color: lime;
				display: block;
				position: static;
				transform: initial;

				.sub-menu {
					text-align: center;
					line-height: 40px;
				}
			}
		}
	}
}

.mobile {
	.navigation {
		opacity: 1;
		visibility: visible;

		&__menu {
			.home {
				margin 0
			}
			&--left {
				display: flex;
				flex-direction: column;
				.navigation__menu__item {
					font-family: font_bold;
					color: #4b4b4b;
					font-size: 14px;
					line-height: 47px;
					&--logo {
						margin-bottom: 32px;
					}
                    &--call-us {
                        margin-top: auto;
						line-height: 28px;
                    }
					&--phone {
						margin-bottom: 32px;
						.navigation__menu__item__link {
							color: $blue;
						}
					}
					&__link{
						font-family: font_bold;
						font-size: 14px;
						line-height: 47px;
						&.selected {
							color white !important//
							background-color #6edcd4//
						}
					}

				}
			}
		}
	}

	.navigation__menu__item__link--requestDemoBtn,
	.navigation__menu__item__link--loginBtn {
		display: none;
	}

	.navigation__menu__item--integration {
		display: none !important;
	}
}


@media screen and (min-width: 1025px) {
	.navigation.active {
		//background-color: rgba(255,255,255,1);

		.navigation__menu__item {
			color: #4b4b4b;
			display: inline-block;
		}

		.navigation__menu__item__link{
			opacity: 1;
			visibility: visible;
			color: #4b4b4b;

			&:hover{
				color: #6edcd4;
			}
		}


		.navigation__menu__item__link--loginBtn{
			border-color: #6edcd4;
			color #6edcd4
			border-radius 2px

			&:hover{
				color white
				border-color: $normal-green;
				background-color $normal-green;
			}
			&:active {
				border-color: $orange;
				background-color $orange ;
			}
		}

  		.navigation__menu__item__link--requestDemoBtn {
			background-color: $orange;
			border-color: $orange;
			margin-right 0
			border-radius 2px

			span {
				color white;
			}

			&:hover{
				color white
				border-color: $normal-green;
				background-color $normal-green;
			}
			&:active {
				border-color: $orange;
				background-color $orange ;
			}
		}

	}

}

@media screen and (max-width: 1575px) {
	.navigation {
		height: 90px;
		font-size-em(18px);


		&__menu__item {
		  margin 0 15px
		}

		&__menu--right li:first-child {
			margin-right 15px
		}

		&__menu{
			// margin-top: 24px;
			&__item {
				&__link {
					&--requestDemoBtn {
						width: 155px;
					}
					&--loginBtn {
						width: 100px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1240px) {
	.navigation {
		//font-size 95%
	}
}



@media screen and (max-width: 1270px) {
	.navigation {
		&__menu{
			&__item{
				margin: 0px 10px;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.menu-btn {
		display block;
	}

	.navigation.active .navigation__menu--left {
		margin-left 0
	}

	.navigation {
		background-color: rgba(255,255,255,1);
		height: 90px;
		font-family font //
		font-size-em(18px); //
		line-height 40px //

		&__bar {
			display: none;
		}


		&__menu{
			display block//
			width 100%; //
			margin-top: 0px; //

			&--left{
				margin-left 0px //

				li:not(.navigation__menu__item--logo) {
					visibility: visible;
					opacity: 1;
					transform: none;
					a {
						transition: none !important;
					}
				}

				li:nth-child(1n+2){
					display none
				}
			}

			&--right{
				margin-right 0px //

				li{
					display none
				}
			}


			&__item{
				display block //
				margin: 0px 0px; //
				width 100% //

				&:first-child{
					margin-left auto
				}

				&--logo{
					width 40px //
					height 42px //
					margin 21px auto 17px //
					background-image: url("../assets/images/hatch_logo_short.svg");
				}

				&--logo:hover{
					background-color transparent
				}
				&__link{
					display block //
					color #4b4b4b //

					&:hover{
						color white !important//
						background-color #6edcd4//
					}


					&--requestDemoBtn,
					&--loginBtn{
						width 100%;//
						line-height: 40px;//
						border-width: 0px;//
						border-style: none;//
					}
				}


			}
		}
	}
	.navigation.open {
		height: auto;
		li{
			display block

			.navigation__menu__item:not(.navigation__menu__item--logo) {
				margin-left 0;
			}

			&.navigation__menu__item__hide_on_tablet {
				display none
			}
		}

		.menu-btn span:nth-child(1) {
			top: 6px;
			width: 0%;
			left: 50%;
		}

		.menu-btn span:nth-child(2) {

			transform: rotate(45deg);
		}

		.menu-btn span:nth-child(3) {

			transform: rotate(-45deg);
		}

		.menu-btn span:nth-child(4) {
			top: 6px;
			width: 0%;
			left: 50%;
		}

		.navigation__menu--right{

			color $logo-grey
			a{
				display block
				color $logo-grey
			}
		}
	}

	.navigation.open {
		height: 100%;
    	background: rgba(0,0,0,.4);

    	ul {
    		background: white;
    	}

		li{
			display block
		}
	}
}


@media screen and (max-width: 750px) {
	.navigation {
		height: 50px;
		font-size-em(14px); //
		line-height 40px //

		&__menu{
			&__item{
				&--logo{
					width 29px //
					height 30px //
					margin 11px auto 9px
				}
				&__link{

					&--requestDemoBtn,
					&--loginBtn{
						width 100%;//
						line-height: 40px;//
						border-width: 0px;//
						border-style: none;//
					}
				}
			}
		}
	}

	.menu-btn {
		top: 18px;
		width: 18px;
		height: 18px;
		left 18px
	}
	.menu-btn span:nth-child(2),.menu-btn span:nth-child(3) {
		top: 6px;
	}
	.menu-btn span:nth-child(4) {
		top: 12px;
	}
}
