.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;

	&.visible {
		//transform: scale(1);
		z-index: 20;
		opacity: 1;
		visibility: visible;
		position fixed
	}

	&__content {
		// opacity: 0;
		// visibility: hidden;
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		polygon {
			fill: rgba(0,0,0,.6);
		}
	}

	&__gallery, &__textbox, &__download, &__readmore {
		//transform: scale(0, 0);
	}

	&__gallery{
		position relative;
		//background-color rgba(75,75,75,.8)
		display: block;
		height: 100%;
		width: 100%;
		text-align: center;


		&__content{
			line-height: 0;
    		position: absolute;
    		top: 0;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		margin: auto;
    		width: 80%;
			max-width: 1024px;
			height: 560px;


			svg {
				width: 100%;
				height: 100%;

				image {
					width: 100%;
					height: 100%;
				}
			}

			div{
				position relative
				height:auto;
   				overflow:auto;
				display block
			}

			img {
				position: absolute;
				vertical-align: middle;
				//box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
				display: block;
			}
		}

	}


	&__download, &__getstarted {
		position relative
		//background-color rgba(75,75,75,.8)
		display: block;
		height: 100%;
		width: 100%;

		&__content{
			width 360px
			height 360px
			border none
			position absolute
			margin auto
			top 0
			bottom 0
			right 0
			left 0
			text-align center
			padding 35px 40px
			background-color white;
			border-radius: 3px;

			h3{
				color #4b4b4b
			}

			form{
				margin-top 36px
			}
    	}

    	input[type="text"], input[type="email"]{
			height 60px
			line-height 60px
			width 100%
			padding: 0px 20px;
			font-size-em(18px);
			font-family: font_italic;
			background-color #e0dede
			color #4b4b4b
			border none
			margin-bottom 19px
			border-radius(3px)

			&.error {
				box-sizing: border-box;
				border: solid 2px $orange;
				color: $orange;
				outline: $orange;
				font-size-em(14px);
			}
		}


		&--button, .wpcf7-submit{
			height 60px
			width 100%
			line-height 60px
			font-size-em(18px);
			font-family: font_bold;
			color white
			background-color #6edcd4
			border-radius(3px)
			border none
			margin auto

			outline: none;

			&:hover{
				background-color #4b4b4b
			}
		}

		.ajax-loader{
			position absolute
		}
	}

	&__getstarted__content{
		height 435px
	}

	&__video{


		&__content{
			line-height: 0;
    		position: absolute;
    		top: 0;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		margin: auto;
    		width: 80%;
			max-width: 1024px;
			height: 560px;

			.loader, iframe {
				position: absolute;
			}

			.loader {
				display: block;
				width: 50px;
				height: 50px;
				top:0; bottom: 0; left: 0; right: 0;
				margin: auto;

				background-color: rgba(0,0,0,0);

				svg {
					display: block;
				width: 30px;
				height: 30px;
				top:0; bottom: 0; left: 0; right: 0;
				margin: auto;
				}
			}
		}
	}


	&__close,&__next,&__prev{
		background-size: 100%;
		background-color: transparent;
		border: none;
		position absolute
		margin auto
		outline: none;
	}

	&__close{
		background-image: url("../assets/images/ico_close.svg");
		width: 24px;
		height: 24px;
		left: initial;
		right 20px
		top 20px
		bottom: initial;
		background-size: 24px 24px;
		background-repeat: no-repeat;
	}

	&__prev.inactive, &__next.inactive {
		opacity: .2;
	}

	&__prev{
		background-image: url("../assets/images/ico_arrowLeft.svg");
		width: 15px;
		height: 24px;
		right: initial;
		left -30px
		top: 0px;
		bottom: 0px;
		background-size: 15px 24px;
		background-repeat: no-repeat;
	}

	&__next{
		background-image: url("../assets/images/ico_arrowRight.svg");
		width: 15px;
		height: 24px;
		left: initial;
		right -30px
		top: 0px;
		bottom: 0px;
		background-size: 15px 24px;
		background-repeat: no-repeat;

	}

	// #form-pdfCaseName {
	#pdfCaseName {
		display: none;
	}
}

.mobile {
	.overlay {
		background: rgba(0,0,0,.6);
		&__close{
			background-image: url("../assets/images/ico_close_mobile.svg");
			background-size: 19px 19px;
			background-repeat: no-repeat;
			background-position: center;
		    left: initial;
		    right: 38px;
		    top: 0;
		    bottom: 0;
		    z-index: 20;
		    transform: translate(0, -169px);
		}
		&__getstarted__content {
			height: 390px;
			padding 35px 25px
	    }

		input[type="text"], input[type="email"], &--button, .wpcf7-submit {
			height 50px
			line-height 50px
			font-size-em(16px);

		}


		&__background {
			display: none;
		}

	}
}

@media only screen and (max-width: 1024px) {
	.overlay {
		&__prev{
			background-image: url("../assets/images/ico_arrowLeft.svg");
			width: 30px;
			height: 48px;
			left -50px
			background-size: 30px 48px;
			background-repeat: no-repeat;
		}

		&__next{
			background-image: url("../assets/images/ico_arrowRight.svg");
			width: 30px;
			height: 48px;
			right -50px
			background-size: 30px 48px;
			background-repeat: no-repeat;

		}
	}
}

@media only screen and (max-width: 400px) {
	.overlay {
		&__download, &__getstarted{
			&__content{
				width: calc(100% - 40px);
			}
		}
	}
}

@media only screen and (max-height: 480px) {
	.mobile {
		.overlay {

		}
	}
}

@media only screen and (orientation: landscape) {
	.mobile {
		.overlay {
			&__download, &__getstarted{
				transform: scale(.6);
			}

			&__close {
				right: 50%;
				transform: translate(170px, -169px);
			}
		}
	}
}
