.overlay {
	top 0
	left 0
	
	&__textbox, &__readmore{
		position relative		
		background-color rgba(75,75,75,.8)
		display: block;
		height: 100%;
		width: 100%;
		
		&__content{
			width: calc(100% - 40px);
			max-width 1200px
			height: calc(100% - 40px);
			border-radius(3px)
			position absolute
			margin auto
			top 0
			bottom 0
			right 0px
			left 0px
			text-align justify
			padding 80px 80px
			background-color white
			font-size-em(18px);
			color #4b4b4b
			overflow auto
			
			
			h2{
				font-family: font_bold;
				font-size-em(36px);
				color #4b4b4b
				line-height 36px
				margin-bottom 40px
				text-align center
			}
			
			h3{				
				font-family: font_bold;
				color #ff805a	
				font-size-em(24px);			
				line-height 24px
				margin 40px 0px 15px
			}			
		}
	}
	
	&__readmore__content{
		bottom: initial;
		height: auto;
		top: 50%;
		transform: translateY(-50%);
		


		.title {
			text-align: left;
			font-family: font_italic;
			font-size-em(30px);
			line-height: 30px;
			color #4b4b4b;
		    margin: 0 0 5px;
		}
		.date {
			font-size-em(18px);
			margin: 0 0 10px;
			opacity: 0.5;
		}
		
		.text {
			font-size-em(18px);
			line-height: 20px;
			margin: 15px 0 20px;
			
		    max-height: 700px;
		    overflow: auto;
		    height: auto;
		    padding: 1px 0;
		}
	}
	
}

@media only screen and (max-height: 1100px) {
	.overlay {
		&__readmore__content {
			.text {
			    max-height: 550px;
			}
		}
	}
}

@media only screen and (max-height: 950px) {
	.overlay {
		&__readmore__content {
			.text {
			    max-height: 460px;
			}
		}
	}
}

@media only screen and (max-height: 790px) {
	.overlay {
		&__readmore__content {
			.text {
			    max-height: 300px;
			}
		}
	}
}


@media only screen and (max-height: 600px) {
	.overlay {
		&__readmore__content {
			.text {
			    max-height: 200px;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.overlay {
		&__textbox, &__readmore{
			&__content{
				font-size-em(18px);
				line-height 24px
				padding 40px 40px
				
				h2{
					font-size-em(24px);
					line-height 24px
					margin-bottom 30px
				}
				
				h3{
					font-size-em(18px);
					line-height 24px
					margin 30px 0px 10px
				}
			}
			
		}
	}
}


@media only screen and (max-width: 750px) {
	.overlay {
		&__textbox, &__readmore{
			&__content{				
				font-size-em(14px);
				line-height 20px
				padding 30px 20px
				
				h2{
					font-size-em(18px);
					line-height 18px
					margin-bottom 20px
				}
				
				h3{
					font-size-em(14px);
					line-height 20px
					margin 20px 0px 5px
				}
			}
			
		}
	}
}