.section {
	&__pattern {
	    width: 100%;
	    height: 492px;
	    //border: solid 1px #f00;
	    position: absolute;
	    margin: auto;
	    z-index: 1;
	    
	    background-size: 100%;
	    background-position: top;
		background-repeat: no-repeat;
		display none
		
		&__grey{
			background-image: url('../assets/images/pattern/pattern_desk_grey.png');
			top: -100px !important; 
			
			
		
		}
		&__green {
			background-image: url('../assets/images/pattern/pattern_desk_green.png');
		}
			
		

		&.top_pattern {
			// top -265px;
			top: -166px;
			
			@media (max-width: 1400px) {
				top -300px;
			}
			
			@media (max-width: 750px) {
				top -350px;
			}
		}
		
		&.footer__pattern--top {
			display block;
			 top: -210px;
			 z-index 10
		}
		
		if debug{ 
			display: none;
		}
	    
	    &__part {
	    	width: 100%;
			height: 328px;
	    	position: absolute;
			background-size: 1920px 328px;
	    	background-repeat: repeat-x;
			background-position: top center;
			//opacity: 0;
	    	
	    	&--top {
	    		
				z-index: 2;
	    	}
	    	&--bottom {
				z-index: 1;
				bottom: 0;
	    	}
	    }
	    
	    for i in (1..6) {
	    	&--{i} {
	    		.section__pattern__part {
					&--top {
						background-image: url('../assets/images/pattern/pattern_' + i + '_top.svg');
					}
					
					&--bottom {
						background-image: url('../assets/images/pattern/pattern_' + i + '_bottom.svg');
					}
	    		}
	    	}
	    }
	    
	    &--2 {
	    	height: 573px;
			
			.section__pattern__part {
				&--bottom {
					height: 410px;
	    			position: absolute;
					background-size: 1920px 410px;
				}
			}
	    }
		
		&--footer {
			bottom: 204px;
			display block;
		}
		
		&--4 {
			top: -166px;
			
			@media(max-width: 750px) {
				top: -197px;
			}
		} 
	}
}

.mobile {
	.section {
		&__pattern {
		    width: 100%;
		    height: 246px;
			background-image: url("../assets/images/pattern_black.png");
			background-size: 133%;
			background-repeat: no-repeat;
			background-position: top center;
			bottom: 212px;
			display: block;
		    
		    &__part {
		    	width: calc(100% + 5px);
		    	left: -3px;
		    	/*width: 100%;*/
		    	height: 55px;
				/*height: 164px;*/ 
		    	/*position: absolute;*/
		    	position: relative;
				background-size: 960px 164px;	
		    }
		    
		    for i in (1..6) {
		    	&--{i} {
		    		.section__pattern__part {
		    			display: none	
						&--top {
							background-image: url('../assets/images/pattern/pattern_' + i + '_top.svg');
							background-size: 100%
						}
						
						&--bottom {
							background-image: url('../assets/images/pattern/pattern_' + i + '_bottom.svg');
							background-size: 100%
							top: -28px;
						}
		    		}
		    	}
		    }
		    
		    &--2 {
		    	height: 286px;
				
				.section__pattern__part {
					&--bottom {
						height: 205px;
		    			position: absolute;
						background-size: 960px 205px;
					}
				}
		    }

		    &--footer{
		    	aspect-ratio(1005, 300)
		    	height: auto
		    	bottom 40px
		    }
		}
		&__pattern.top_pattern{
			top: 49px;
			aspect-ratio(1005, 300)
			height: auto
			position absolute
			background-image: url("../assets/images/pattern_grey.png") ; 
			background-size: 133%;
			background-repeat: no-repeat;
			background-position: top center;
			margin-top: 0
			max-height: 200px;

			.section__pattern__part{
				display: none
			}
		}
		&__pattern.top_pattern.green{
			background-image: url("../assets/images/pattern_green.png") ;  
			position: relative;
			top: -60px;
			
		}
	}
	.section {
		.section__patern.top_pattern {
			top: 49px;
			background-image: url("../assets/images/pattern_grey.png") ; 
			background-size: 133%;
			background-repeat: no-repeat;
			background-position: top center;
			margin-top: 0
			position relative

			.section__pattern__part{
				display: none
			}
		}
	}
}