.no-mobile.no-tablet {
    .pricing {
        .section__header--pricing {
			opacity: 0;
			visibility: hidden;
        }
    }
}

.pricing {
	padding-top: 395px;

	@media (max-width: 1545px) {
		padding-top: 385px;
	}
	.disclaimer {
		background: none;
		max-width: 1200px;
		padding: 0 17px;
		p {
			font-size-em(24px);
			line-height: 32px;
			color: #FFFFFF;
			text-align: left;
			//padding: 0 20px;
			margin-bottom: 20px;
			text-align center
			br {
				display: none;
			}
		}
	}

	.section__pattern {
		display block
	}

	&__content{
		clearfix();
		padding-left: 17px;
		padding-right: 17px;
		max-width: 1200px;
		margin-bottom: 45px

		.rpt_plans .rpt_plan {
			width: 260px;
			margin: 0;
			position: relative;
			border-radius(3px);

			&.rpt_plan_0 {
				margin-left 0;
			}

			div[class*='rpt_'] {
				font-family: font_bold;
				background-color: white;
				border: 0;
				color: #4b4b4b;
				text-shadow: none;

				&.rpt_title {
					font-size-em(30px);
					line-height: 30px;
					padding-top: 37px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
				}

				&.rpt_price {
					font-size-em(40px);
					line-height: 30px;
					padding-bottom: 60px;
					margin-top: 0px;
					.rpt_currency {
						font-size: inherit;
						position: static;
					}
				}

				&.rpt_recurrence {
					font-family: font;
					position: absolute;
					font-size-em(20px);
					line-height: 20px;
					left: 50%;
					transform: translateX(-50%);
					top: 119px;
					padding: 0;
				}

				&.rpt_description[class*='rpt_description'] {
					color: white;
					font-size-em(20px);
					line-height: 30px;
					background-color #4b4b4b;
					padding: 0;
					padding: 14px;
					height: 60px;
				}

				&.rpt_features[class*='rpt_features'] {
					padding: 0;
					.rpt_feature[class*='rpt_feature'] {
						font-family: font;
						min-height: 60px;
						padding: 14px 20px;
						font-size-em(20px);
						line-height: 30px;

						&:nth-child(even){
							background-color #f6f6f6;
						}

						&:nth-child(odd){
							background-color #e5e5e5;
						}
					}
				}

			}

			.rpt_foot, [class*='rpt_foot'] {
				font-size: 24px;
				font-weight: bold;
				border-top: none;
				height: 60px;
				padding: 14px 0;
				border-bottom-left-radius: 3px;
			    border-bottom-right-radius: 3px;
			    -moz-transition-property: none;
			    -webkit-transition-property: none;
			    -o-transition-property: none;
			    transition-property: none;

			    &:hover {
			    	background-color: #4b4b4b !important;
			    	opacity: 1;
			    }
			}
		}
	}
}

#rpt_pricr > div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}



@media screen and (max-width: 1200px) {
	.pricing {
		&__content{
			width: auto;
			//padding: 0 20px;
			margin-bottom: 25px


			&__card, .rpt_plans {
				clearfix();
			}


			&__card, .rpt_plans .rpt_plan {
				width: 49%;
				margin: 0 0 20px;


				&:nth-child(odd){
					margin-right: 2%;
				}
			}
		}
	}
}


@media only screen and (max-width : 750px){
	.pricing {
		&__content{
			margin-bottom: 3px;
			.rpt_plans .rpt_plan {
				width: 100%;
				margin: 0 0 20px!important; // Overide plugin important
				div[class*='rpt_'] {
					&.rpt_title {
						font-size-em(24px, !important) ;
						line-height: 30px;
						padding: 16px 0 0;
					}

					&.rpt_price {
						font-size-em(30px, !important);
						line-height: 30px!important;
						padding-bottom: 36px;
						.rpt_currency {
							font-size: inherit!important;
						}
					}

					&.rpt_recurrence {
						top: 64px;
					}

					&.rpt_description[class*='rpt_description'] {
						font-size-em(20px !important) ;
						line-height: 30px;
					}

					&.rpt_features[class*='rpt_features'] {
						.rpt_feature[class*='rpt_feature'] {
							min-height: 0;
							padding: 5px 0;
						}
					}
				}
			}
		}
		
		.disclaimer {
			p {
				font-size-em(18px);
				line-height: 30px;
			}
		}
	}
}

.tablet {
	.pricing {
		.disclaimer {
			p {
				font-size-em(18px);
				line-height: 30px;
			}
		}
	}
}

@media only screen and (max-width : 420px){
	.pricing {
		.disclaimer {
			p {
				font-size-em(16px);
			}
		}
		&__content{
			margin-bottom: 3px;
			.rpt_plans .rpt_plan {
				width: 100%;
				margin: 0 0 20px!important; // Overide plugin important
				div[class*='rpt_'] {
					&.rpt_title {
						font-size-em(24px, !important) ;
						line-height: 30px;
						padding: 16px 0 0;
					}

					&.rpt_price {
						font-size-em(20px, !important);
						line-height: 30px!important;
						padding-bottom: 36px;
						.rpt_currency {
							font-size: inherit!important;
						}
					}

					&.rpt_recurrence {
						top: 81px;
						font-size-em(14px, !important) ;
					}

					&.rpt_description[class*='rpt_description'] {
						font-size-em(16px, !important) ;
						line-height: 30px;
					}

					&.rpt_features[class*='rpt_features'] {
						.rpt_feature[class*='rpt_feature'] {
							min-height: 0;
							padding: 5px 0;
						}
					}
				}
			}
		}
	}
}
