.no-mobile.no-tablet {
    .section--request-demo {
        .section__header {
			opacity: 0;
			visibility: hidden;
        }
    }
}

.request-demo-section {
	background-color: #4b4b4b;
    color: #000;
    overflow: visible;
    padding: 318px 0 120px;
    text-align: center;
    z-index: 10;

	.section__holder {
		overflow-x: hidden;
	}

	.section__pattern--4 {
		top: -146px;
		display block
	}

	.top_pattern {
		display block
	}

	h1 {
     font-family: 'Akkurat-Bold-web';
		text-transform: uppercase;
		margin-bottom 74px
	}

	h2 {
		font-family: "Akkurat-web",sans-serif;
		font-size: 170.7%;
		margin-bottom: 20px;
		text-transform: uppercase;
		word-spacing: 3px;
	}

	.section__holder > p {
		color white
		text-align: left;
		width 100%
		max-width: 810px;
		margin 0 auto;
		font-size: 119.3%;
		margin-bottom 30px;
        text-align : center;
	}

	div.wpcf7-validation-errors {
		color: #ff825a;
		border: medium none;
		font-family: "Akkurat-web",sans-serif;
		font-size: 1em;
		margin: auto;
	}

	span.wpcf7-not-valid-tip {
		color: #ff825a;
	}

	form {
		// max-width: 810px;
		max-width: 550px;
		margin 0 auto;
		margin-bottom: 74px;
		text-align: left;
	}

	.contact__form__input--double {
		margin-left 0
		line-height: 1;
        margin-bottom 25px;
        width: 100%;
	}

	label {
		color white;
		// text-transform: uppercase;
		margin-bottom 0
	}

	input {
		color white
	}

	#requestSubmitBtn {
		width 435px;
		min-height: 55px;
		background-color #ff825a
		text-transform uppercase;
		font-family: "Akkurat-Bold-web",sans-serif;
		margin 0 auto;
		display block
		color white
	}
}

.revenue_counter {
	background-color rgba(255, 255, 255, .08);
	width 1122px
	height 174px
	border-radius: 1px;
	display block
	margin: 0 auto 100px;
	text-align: center;
	padding-top: 40px;
	transform-origin: left center 0;

	span {
		display inline-block
		color #f47621
		text-align: center;
		height 94px
		font-family "Akkurat-Bold-web",sans-serif;

		&:first-child {
			margin-left 0;
		}
	}

	.number {
		background-color: #fff;
		border-radius: 4px;
		font-size: 300%;
		line-height: 1.65;
		margin-left: 12px;
		width: 94px;
	}

	.comma {
		font-size: 300%;
		margin-right: -9px;
		width: 38px;
	}
}
#demo__request {
	height: 360px
	top: calc(50vh - 140px)
	transform-origin: bottom
	transition: all 0.5

    span.wpcf7-not-valid-tip {
        text-align: left;
        color: $orange;
        margin-top: -24px;
    }

        @media(min-width: 1545px) {
            top: calc(50vh - 130px)
        }

        @media(max-width: 1545px) {
            height: 268px;
            width 80%
            top: calc(50vh - 115px)
        }

		.wpcf7 {
			padding-top 10px !important
		}

        h2 {
            font-size-em(30px)
            margin-bottom: 32px
            margin-top: 27px;

            @media(max-width: 1545px) {
                font-size-em(24px)
                margin-bottom: 25.6px;
                margin-top: 21.6px;
            }
        }

        p {
            @media(max-width: 1545px) {
                width: 224px;
            }

            .mobile & {
                width 80%
            }
            span {
                font-size-em(16px)

                @media(max-width: 1545px) {
                    font-size-em(12.8px)
                }

                input {
                    height: 60px
                    margin-bottom: 20px
                    font-size-em(18px)

                    @media(max-width: 1545px) {
                        height: 40px;
                        margin-bottom: 16px
                    }
                }
            }
        }

        #requestDemoSubmit{
            height: 60px

            font-size-em(24px)

            @media(max-width: 1545px) {
                height: 40px;
                font-size-em(19.2px)
            }
        }

	&.open{
		transform: scaleY(1)
	}
}

.page-request-demo{
    .section--contact {
        display none
    }
    .section__arrow{
        display none
    }
    .section__pattern.footer__pattern--top {
        display none
    }
}
