.section {
    &__separator {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        background: $light-green;
    }
}

.animate-border {
    > span {
        &:before {
            width:600px;
        }

        &:after {
            width:600px;
        }

    }

}
.mobile {
    .section {
        &__separators {
            height 0 !important
            .section__arrow--intro.footer_mobile{
                top: -130px;
                display block
                
                .section__arrow__bg {
                    background-size: 30px auto;
                    background-position: center 5px;
                    background-image: url('../assets/images/arrow_mobile.png');
                    
                    &.white {
                        background-image: url('../assets/images/arrow_white_mobile.png');
                    }
                }
            }
        }
    }
}