.partners,
.news,
.blog,
.pricing,
.disclaimer,
.privacy,
.single-post {
	&.section {
		text-align: center;
		background-color: #6EDCD4;
		overflow: visible;
		z-index: 10;
		padding-bottom: 333px;
		.section {
			&__header {
				margin-bottom: 52px;
				.section__header__title {
					text-transform: uppercase;
				}
			}
		}
	}

	&__section__pattern {
		background-position: top center;

		&--top {
			height: 350px;
			margin-bottom: 53px;
			background-image: url("../assets/images/pattern/pattern_1.svg");
		    //background-size: 1914px;
			background-repeat: repeat-x;
		    background-position: 50% 110%;

		    @media(min-width: 1545px) {
		    	height: 355px
		    	background-position: 50% 99%;
		    }

		    // @media(max-width: 1200px) {
		    // 	height: 340px;
		    // 	background-position: 50% 99%;
		    // }
		}

		&--bottom {
			height: 492px;
			position: absolute;
			background-image: url("../assets/images/pattern/pattern_staticpage.svg");
			//background-size: 1941px;
			bottom: -204px;
			width: 100%;
		}

		&--contact {
			// bottom: 204px;
			transform: none;
		}
	}

	&__content {
		&__nav {
			clear: both;

			a{
				color: white;
				text-decoration: none;
				display: inline-block;
				margin: 30px 6px;
			    width: 85px;
			    height: 40px;
			    background-color: none;
			    border: solid 3px white;


			    &:hover {
			    	color: $normal-green;
			    	background-color: white;
			    }
			}
		}
	}
}

.mobile {
	.index {
		#section_contact {
			padding-bottom 120px
		}
	}
}

.partners,
.news,
.blog,
.pricing,
.disclaimer,
.privacy,
.about-us,
.single-post {
	.section--footer {
		// height: 197px;
		// min-height: 197px;
		overflow: visible;
		margin-top: 0;
	}
}

.index,
.where-to-buy-solutions,
.request-demo,
.faqs,
.about-us {

	#section_contact {
		// padding-bottom 130px
	}

	.section--footer {
		margin-top: 116px;
	}
}


.disclaimer, .privacy {
	&__section__pattern {

		&--bottom {
			height: 492px;
			background-image: none;
			bottom: -262px;

			display block
		}
	}
}

.single-post {
	.section {
		min-height: auto;
	}
}

@media screen and (max-width: 1200px) {
	.partners,
	.news,
	.blog,
	.pricing {
		&.section {
			padding-bottom: 310px;
		}

		&__section__pattern {
			&--top {
				height: 307px;
				background-image: url("../assets/images/pattern/pattern_1.svg");
				background-size: auto 175%;
				background-position-y: -178px;
				margin-bottom: 8px;
			}

			&--bottom {
				background-image: url("../assets/images/pattern/pattern_7_bottom.svg");
				background-size: 2569px;
				height: 497px;
				bottom: -194px;
			}

		}
	}
}


@media only screen and (max-width : 750px){
	.pricing, .news, .blog, .disclaimer, .privacy, .single-post {
		&.section {
			padding-bottom: 130px;
		}
		.section__holder {
			margin-top: -30px;
		}

		&__section__pattern {
			&--top {
				height: 186px;
				background-size: auto 134%;
				background-position-y: -75px;
				margin-bottom: 4px;
			}
			&--bottom {
				height: 250px;
				background-size: 1296px;
				bottom: -129px;
			}
			&--contact {
				height: 250px;
				background-size: 1296px;
				bottom: 204px;
				width: 100%;
				z-index: 2;
			}
		}
		&__content {
			&__nav {

				a{
					font-size: .9em;
					color: #fff;
   					text-decoration: none;
				    display: inline-block;
				    margin: 15px 6px;
				    width: 78px;
				    height: 37px;
				    background: none;
				    border: solid 2px #fff;
				}
			}
		}
	}
}
