* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-rendering: optimizeLegibility;
}

html, body {
	width: 100%;
//	min-height: 100%;
	margin: 0;
}

body {
	background-color:#4D4D4D;
	font: ($body-font-size\/$body-line-height) font;
}

body, strong, i, h1, h2, h3, p{
	font-weight: normal;
	font-style: normal;
}

p {
	margin: 0;
}

strong{
	font-family: font_bold;	
}

i{
	font-family: font_italic;
}


h1, h2, h3{
	font-family: font_bold;
	color: white;
}

h1{
	margin: 0 0 8px;
	font-size-em(30px);
	line-height: 38px;
	letter-spacing: 0.075em;	
}

h2{
	margin: 0;
	font-size-em(20px);
	line-height: 28px;
	letter-spacing: -0.002em;
	overflow: hidden;

	> span{
		position: relative;
		display: inline-block;
	}
	
	> span:before, > span:after{
		content: '';
		position: absolute;
		top: 50%;
		border-bottom: 1px solid;
		width: 0px;
		margin: 0 40px;

	  	-webkit-transition: width 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	  	-moz-transition: width 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	  	-o-transition: width 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	  	transition: width 1s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

	  	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	  	-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	  	-o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	  	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

		if !debug{
			//transform: scale(0, 1);
			//transition: transform .5s;
		}
	}
	
	span.static:before, span.static:after {
		width: 600px;
	}

	> span:before{
		right: 100%;
		transform-origin: center right;
	}
	> span:after{
		left: 100%;
		transform-origin: center left;
	}
	
	&.shown {
		> span:before, > span:after{
			if !debug{
				//transform: scale(1, 1);
			}
		}	
	}
}

h3{
	margin: 0;
	font-size-em(15px);
	line-height: 1em;
	letter-spacing: -0.002em;
}

.mobile {
	h2{
		> span:before, > span:after{
			width: 600px;
			margin: 0 18px;	
		}
	}
}

@media screen and (max-width: 1440px) {
	h3 {
		font-size-em(20px);
	}
}

@media screen and (max-width: 750px) {
	h1{
		margin: 0 0 4px;
		font-size-em(20px);
		line-height: 1em;
		letter-spacing: 0.065em;	
	}

	h2{
		font-size-em(10px);
		line-height: 1.1em;
    	min-height: 1.2em;
		letter-spacing: 0.022em;
	}
}