/* mixins/font-size.styl */
font-size-em(_size, _important = '')
    if unit(_size) == 'px'
        font-size: unit((unit(_size, '') / unit($body-font-size, '')), 'em ' + _important)
    else
        font-size: unit(_size, 'em ' + _important)
